/* DIET FUTÁR CSS - uzem.hu - 2012 */

		
		@font-face {
				font-family: 'GillSansMT-Condensed';
				src: url('../font/gilc___.eot');
				src: url('../font/gilc___.eot?#iefix') format('embedded-opentype'),
						 url('../font/gilc___.woff') format('woff'),
						 url('../font/gilc___.ttf') format('truetype'),
						 url('../font/gilc___.svg#gilc___') format('svg');
				font-weight: normal;
				font-style: normal;
		}
		
		@font-face {
				font-family: 'FrutigerLtCn_PFL-Normal';
				src: url('../font/frutlcn.eot');
				src: url('../font/frutlcn.eot?#iefix') format('embedded-opentype'),
						 url('../font/frutlcn.woff') format('woff'),
						 url('../font/frutlcn.ttf') format('truetype'),
						 url('../font/frutlcn.svg#frutlcn') format('svg');
				font-weight: normal;
				font-style: normal;
		}
		
		@font-face {
				font-family: 'FrutigerCn_PFL-Normal';
				src: url('../font/frutcn_.eot');
				src: url('../font/frutcn_.eot?#iefix') format('embedded-opentype'),
						 url('../font/frutcn_.woff') format('woff'),
						 url('../font/frutcn_.ttf') format('truetype'),
						 url('../font/frutcn_.svg#frutcn_') format('svg');
				font-weight: normal;
				font-style: normal;
		}
		
html {
}

body {
	font-family: 'FrutigerLtCn_PFL-Normal', Arial, sans-serif;
	font-size: 12px;
	color: #000;
	background-image: url(../img/mainBg.jpg);
	background-repeat: repeat;
	background-position: center top;
}

.header {
	background-image: url(../img/headerBottom.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 200px;
}

.footer {
	background-image: url(../img/footerTop.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 15px;
	text-align: center;
}

.footer li {
	display: inline;
	list-style-type: none;
}

.footer li a {
	font-family: GillSansMT-Condensed;
	text-shadow: #FFFFFF 0px 1px 0px;
	color: #000;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
}

.footer li a:before {
	content: "x";
	color: #918777;
	padding-right: 12px;
	padding-left: 12px;
}

.footer li:first-child a:before {
	content: "";
	padding: 0;
}

.footer li a:hover {
	color: #918777;
}

.calendar {
	background-image: url(../img/calendarBg.png);
	background-repeat: repeat-y;
	background-position: center top;
}

.calendarHeader {
	padding-top: 25px;
	padding-bottom: 23px;
}

.menuEditSelect {
	width: 120px;
}

.calendarHeader div {
	text-align: center;
	text-shadow: #FFFFFF 0px 1px 0px;
	color: #555;
}

.calendarHeader h3 {
	font-size: 18px;
	text-transform: uppercase;
	text-shadow: #FFFFFF 0px 1px 0px;
	font-weight: bold;
	margin: 0;
	color: #555;
}

.calendarElement {
	background-image: url(../img/calendarElementBg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 22px;
	margin-bottom: 10px;
	padding-left: 25px;
	width: 120px;
	font-family: "Arial Narrow", Arial, sans-serif;
	line-height: normal;
	color: #333;
}

.profileElement {
	background-image: url(../img/profileElementBg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 22px;
	margin-bottom: 10px;
	padding-left: 25px;
	font-family: "Arial Narrow", Arial, sans-serif;
	line-height: normal;
	color: #F60;
}

p {
	font-size: 16px;
}

.calendarElement p {
	line-height: 1;
	margin: 0;
	margin-bottom: 5px;
}

.calendarElement h3 {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	margin-left: -1px;
	margin-bottom: 5px;
	color: #333;
}

.calendarElement strong {
	font-size: 16px;
	margin-left: -1px;
	color: #333;
}

.calendarElement small {
	font-size: 16px;
	margin-right: 3px;
	float: right;
}


.calendarElement input[type=text] {
	height: 22px;
	width: 25px;
	box-shadow:inset 0px 2px 3px #DDDDDD;
	border: solid 1px #BBBBBB;
	margin-top: -3px;
	float: right;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	text-align: center;
	font-size: 16px;
	font-family: "Arial Narrow", Arial, sans-serif;
	font-weight: bold;
	color: #F60;
}

.calendarElement input[type=text]:focus {
	border: solid 1px #F60;
	}

.calendar, .inactive {
opacity:0.3;
filter:alpha(opacity=30); /* For IE8 and earlier */
}

.calendar .inactive strong, .calendar .inactive small, .calendar .inactive input[type=text] {
	display: none;
}

.calendarRow h2, .subTotal h2, .profileRow h2 {
	font-size: 18px;
	text-transform: uppercase;
	text-shadow: #FFFFFF 0px 1px 0px;
	font-weight: bold;
	text-align: right;
	margin: 0;
}

.calendarRow h2, .profileRow h2 {
	padding-top: 3px;
}

.subTotal {
	background-image: url(../img/subTotalTop.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 80px;
	padding-top: 40px;
	text-shadow: #FFFFFF 0px 1px 0px;
	color: #333;
}

.total {
	background-image: url(../img/totalTop.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 115px;
	padding-top: 20px;
}

.subTotal div {
	font-size: 14px;
	text-align: center;
	padding-left: 25px;
	width: 125px;
	margin-top: 4px;
}

.login {
	padding-top: 34px;
}
.login input[type=text], .login input[type=password] {
	width: 210px;
	height: 25px;
	background: none;
	background-color: none;
	border: none;
	background-image: url(../img/loginBg.png);
	background-repeat: no-repeat;
	background-position: center top;
	font-family: FrutigerCn_PFL-Normal;
	font-size: 18px;
	color: #333333;
	margin: 0;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
	text-shadow: #FFFFFF 0px 1px 0px;
}

::-webkit-input-placeholder {
    color:    #7c7467;
}
:-moz-placeholder {
    color:    #7c7467;
}
:-ms-input-placeholder {
        color:    #7c7467;
}


.login input[type=submit], .login input[type=button], .login a, a.adminMenu {
	font-family: GillSansMT-Condensed;
	font-size: 20px;
	text-shadow: #FFFFFF 0px 1px 0px;
	text-transform: uppercase;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	color: #000;
	cursor: hand;
	text-decoration: none;
}

a.adminMenu {
	margin-right: 20px;
}

.login input[type=button] {
	color: #918777;
	background-image: url(../img/loginSeparator.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	margin-left: 11px;
}

.menu {
	padding-top: 30px;
}


.menu li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 9px;
}

.menu li a {
	font-family: GillSansMT-Condensed;
	font-size: 28px;
	text-shadow: #FFFFFF 0px 1px 0px;
	text-transform: uppercase;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	color: #000;
	text-decoration: none;
	background-image: url(../img/loginSeparator.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
	margin-left: -25px;
}

.menu li a:hover {
	color: #918777;
}

.menu li a.active {
	color: #399;
	text-shadow: #FFFFFF 0px 1px 0px;
}

/*.logo {
	text-decoration: none;
	background-image: url(../img/logo1.png);
	text-indent: -1000px;
	display: block;
	height: 160px;
	width: 160px;
	margin-top: 17px;
	overflow: hidden;
	padding-left: 0px;
	margin-left: 75px;
	margin-right: 5px;
}*/

.logo {
	text-decoration: none;
	background-image: url(../img/logo2.png);
	text-indent: -1000px;
	display: block;
	height: 120px;
	width: 325px;
	overflow: hidden;
	margin-top: 42px;
	margin-left: -15px;
}

.cartBg {
	background-image: url(../img/cartContainerBg.png);
	background-repeat: no-repeat;
	background-position: center -56px;
}

a.cart {
	text-decoration: none;
	background-image: url(../img/cartBg.png);
	background-repeat: no-repeat;
	background-position: left top;
	text-indent: -1000px;
	display: block;
	height: 80px;
	overflow: hidden;
	margin-top: 85px;
	margin-left: 40px;
	margin-right: -40px;
}

a.nextWeek {
	background-image: url(../img/nextWeek.png);
	background-repeat: no-repeat;
	background-position: center top;
	text-indent: -1000px;
	overflow: hidden;
	height: 30px;
}

a.lastWeek {
	background-image: url(../img/lastWeek.png);
	background-repeat: no-repeat;
	background-position: center top;
	text-indent: -1000px;
	overflow: hidden;
	height: 30px;
}

.userMenu {
	padding-top: 30px;
	margin-right: -8px;
}


.userMenu li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 9px;
}

.userMenu li a {
	font-family: GillSansMT-Condensed;
	font-size: 28px;
	text-shadow: #FFFFFF 0px 1px 0px;
	text-transform: uppercase;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	color: #000;
	text-decoration: none;
	background-image: url(../img/loginSeparator.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}

.userMenu li a:hover {
	color: #918777;
}

.userMenu li a.active {
	color: #399;
	text-shadow: #FFFFFF 0px 1px 0px;
}

.profile {
	padding-bottom: 35px;
}

.profileRow {
	padding-top: 35px;
	background-image: url(../img/subTotalTop.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.profileRow:first-child {
	background: none;
	background-color: none;
}

.profileColumn {
}

.profileColumn label {
	display: block;
	clear: both;
	font-size: 14px;
	text-shadow: #FFFFFF 0px 1px 0px;
	line-height: 35px;
	color: #333333;
}


.profileColumn input[type=text], .profileColumn select, .profileColumn input[type=password], .profileColumn label span {
	float: right;
	width: 210px;
	height: 30px;
	background: none;
	background-color: #FFFFFF;
	border: none;
	background-image: url(../img/loginBg.png);
	background-repeat: no-repeat;
	background-position: center top;
	font-family: FrutigerCn_PFL-Normal;
	font-size: 20px;
	color: #333333;
	margin: 0;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
	text-shadow: #FFFFFF 0px 1px 0px;
	font-weight: normal;
}

.profileColumn select {
	width:220px;
	padding-left: 8px;
}

.profileColumn input[type=checkbox] {
	width: 210px;
	position: absolute;
	margin-top: 9px;
	margin-left: -53px;
	}

.profileColumn label span { 
	background: none;
	background-color: none;
}

.profileColumn input[type=submit], .profileColumn input[type=button] {
	font-family: GillSansMT-Condensed;
	font-size: 28px;
	text-shadow: #FFFFFF 0px 1px 0px;
	text-transform: uppercase;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	color: #000;
	float: right;
	line-height: 35px;
}

.profileColumn input[type=submit]:hover, .profileColumn input[type=button]:hover {
	color: #399;
	text-shadow: #FFFFFF 0px 1px 0px;
}

/* Mobile */

@media handheld, only screen and (max-width: 769px) {
	
	body {
		font-size: 24px;
		-webkit-text-size-adjust: none;
		background: none;
	}

}

/* Text sizes */

@media handheld, only screen and (max-width: 700px) {
	
	body {
		font-size: 21px;
		-webkit-text-size-adjust: none;
		background: none;
	}
	
}

/* Text sizes */

@media handheld, only screen and (max-width: 625px) {
	
	body {
		font-size: 19px;
		-webkit-text-size-adjust: none;
		background: none;
	}
	
}

/* Text sizes */

@media handheld, only screen and (max-width: 550px) {
	
	body {
		font-size: 17px;
		-webkit-text-size-adjust: none;
		background: none;
	}
	
}

/* Text sizes */

@media handheld, only screen and (max-width: 500px) {
	
	body {
		font-size: 15px;
		-webkit-text-size-adjust: none;
		background: none;
	}
	
}

/* Text sizes */

@media handheld, only screen and (max-width: 479px) {
	
	body {
		font-size: 13px;
		-webkit-text-size-adjust: none;
		background: none;
	}
	
}
	