<div class="mainBg staticPage">
	<div class="container">
		<h2>Egészséges ételek nem csak lisztérzékenyeknek</h2>
		
		<p>Azért dolgozunk, hogy minél többen jussanak hozzá jó áron jó minőségű gluténmentes ételeinkhez. Konyhánk szigorú előírásából adódóan garantálni tudjuk, hogy az elkészült ételeinket legérzékenyebb vendégeink is kockázatmentesen fogyaszthatják.<br/>
		Étlapunkat okleveles dietetikus állította elő, a glutén mellőzése mellett törekedve arra is, hogy változatos és egészséges ételek kerüljenek nap mint nap az önök tányérjára. Minden ételünk jó minőségű alapanyagokból készül, frissen kerül csomagolásra, és szállításra.</p>
		<h3>Miért pont gluténmentes?</h3>
		<p>Hazánkban a táplálkozásra nem fordítanak túl nagy figyelmet, az ételallergiásokra meg még kisebb figyelem jut. Ezen szeretne a Diet-Futár változtatni, hogy aki lisztérzékeny tudjon bátran ebédelni, azzal a tudattal, hogy amit eszik az nem csak finom, hanem garantáltan gluténmentes is.</p>
		<h3>Mitől lesz gluténmentes?</h3> 
		<p>A Diet-Futár konyhája Budapesten egyedülálló, hiszen nincs még egy konyha, amely garantáltan gluténmentes. Hogy értük el? úgy, hogy a konyhába semmi féle szennyezőanyag nem kerülhet be, és nem használunk semmilyen glutént tartalmazó alapanyagot.</p>

		<h3>Biztos, hogy gluténmentes?</h3> 
		<p>Igen, a beszállítóktól mindig kérünk igazolást, hogy amit szállítanak, az semmilyen mértékben nem tartalmaz glutént. Igyekszünk minél több ételt saját készítésű alapanyagból előállítani. Így például a kolbász amelyet a főzelékekhez adunk az fűszerből és húsból készül. A gyakran használt nátrium glutamátot is kihagytuk belőle. (itt lehet rendelni).</p>
		<h3>Mit jelent, hogy friss?</h3> 
		<p>Ebédkiszállítással foglalkozó cégek előtt mindig két út áll. Az egyik, hogy előző nap előállítják az ételt, gyors fagyasztják és másnap szállítják. Ezzel szemben a Diet-Futárnál a másik utat választottuk, reggel főzzük meg az ételeket és még forrón szállítjuk házhoz, így az ételek kicsit később érnek ki, de frissek, ízesek lesznek.</p>

	</div>
</div>