<div class="mainBg staticPage">
	<div class="container">
		<h2>GYIK</h2>
		
		<p>Azért dolgozunk, hogy minél többen jussanak hozzá jó áron jó minőségű gluténmentes ételeinkhez. Konyhánk szigorú előírásából adódóan garantálni tudjuk, hogy az elkészült ételeinket legérzékenyebb vendégeink is kockázatmentesen fogyaszthatják.<br/>
		Étlapunkat okleveles dietetikus állította elő, a glutén mellőzése mellett törekedve arra is, hogy változatos és egészséges ételek kerüljenek nap mint nap az önök tányérjára. Minden ételünk jó minőségű alapanyagokból készül, frissen kerül csomagolásra, és szállításra.<br/>
		</p>
		<a href="/contacts">Elérhetőségek</a><br/>
		<a href="/aboutDelivery">Szállítási információk</a>
	</div>
</div>