<div class="mainBg staticPage">
	<div class="container">
<h2>Gluténérzékenységről</h2>
<h3>Mi az a glutén?</h3>
<p>A glutén két fehérjének a keveréke. A gliadin és a gluteiné, melyek a búzában, rozsban, és az árpában találhatóak.</p>
<h3>Mi az a gluténérzékenység?</h3>
<p>Orvosi nevén coeliakia vagy glutén-szenzitiv enteropátia.  Egy autoimmun betegség, vagyis a szervezet valamilyen okból maga ellen termel ellenanyagot.<p> 
<h3>Mik a gluténérzékenység tünetei?</h3>
<p>Gyermekkorban, akkor szokott kialakulni, amikor a hozzátáplálás során lisztből készült ételekkel találkozik, ha gluténérzékeny  a gyermek, akkor a következő tünetek lehetnek:
<ol style="list-style-type: circle;" circle;>
	<li>Hasfájás</li>
	<li>Nem kellő mértékben fejlődnek a felszívódási zavarok miatt</li>
	<li>A vas felszívódás zavara miatt vérzékenység</li>
	<li>Súlyos hasmenés</li>
</ol>
Felnőttkorban nehezebben észlelhető, hiszen különböző tünetek utalhatnak gluténérzékenységre:
<ol style="list-style-type: circle;">
	<li>Hasmenés</li>
	<li>Bőrelváltozás</li>
	<li>Ízületi fájdalom</li>
</ol>
<h3>Hogyan tudhatom meg, hogy gluténérzékeny vagyok?</h3>
<p>Egy egyszerű vérvizsgálatból kiderül, hogy valaki gluténérzékeny-e. Amennyiben a vérvizsgálat pozitív, akkor még egy biopsziával igazolják.</p>
<h3>Hogyan kezeljem a gluténérzékenységet?</h3>
<p>A coeliakia nem gyógyítható, viszont szigorú diétával teljesen panaszmentesen lehet élni.</p>
<h3>Milyen diétát kell tartanom?</h3>
<p>Minden olyan élelmiszert kerülni kell, amely glutént tartalmaz. A búza, rozs és árpából készült pékárukat nem lehet fogyasztani. Csak olyan helyen szabad étkezni, ahol biztosítva van, hogy a konyha nem „szennyezett”.</p>  
<h3>Miben segít a Diet-Futár?</h3>
<p>A Diet-Futár azért alakult, hogy aki gluténérzékeny az is tudjon bátran ebédelni, azzal a tudattal, hogy amit eszik az nem csak finom, hanem garantáltan gluténmentes is.</p>
	</div>
</div>