<div class="mainBg staticPage">
	<div class="container">
		<h2>Szolgáltatások</h2>
		<p>Ebéd házhozszállítás a fő profilunk, ezzel kívánjuk könnyíteni a gluténérzékenyek életét. Hogy mindig tudjanak garantáltan gluténmentes ebédet fogyasztani.</p> 
		<p>Óvodák, iskolák élelmezése. Vállaljuk az ebéd szállítását óvodások és iskolások részére. Nekik az étlapot dietetikus segítségével készítjük, így biztos lehet benne, hogy a gyerekek mindig a megfelelő mennyiségű és minőségű ebédet kapják.</p>
		<p>Céges rendezvények catering-jét is ellátjuk. Cégében lehetnek liszt érzékenyek, laktóz allergiások, vegetáriánusok. Nehéz megoldani, hogy mindenkinek a megfelelő fogás kerüljön a tányérjára, viszont mi ebben tudunk segíteni, hogy ételeink garantáltan gluténmentesek, így bárki bátran fogyaszthatja. Vegetáriánus és laktózmentes fogásaink közül is válogathat.</p>
		<p>Nyári táborokban vagy a napköziben fontos kérdés, hogy milyen ebédet kapnak a gyerekek.  A nyári szünetben vállaljuk a táborozó vagy napközibe járó gyerekek és felnőttek ellátását finom és egészséges ételekkel. Amelyek természetesen gluténmentesek.</p>
		<p>Amennyiben valamelyik szolgáltatásunk elnyerte tetszését, kérjük, vegye fel velünk a kapcsolatot (ez link legyen) vagy kérjen ajánlatot „űrlap” ameddig ez nincs addig csak a kapcsolat marad.
		</p>

	</div>
</div>