<div class="mainBg staticPage">
    <div class="container">
		<h1>Sikeres regisztráció</h1>
		<p>Köszönjük, hogy regisztrált oldalunkon. A megadott e-mail címre már
			elküldtük az aktiváláshoz szükséges levelet. A levélben fog találni egy
			linket, arra kattintva aktiválhatja felhasználói fiókját.<br />
		Amennyiben nem érkezett meg levelünk, kérjük írjon egy <a href="mailto:dietfuter@dietfuter.hu">e-mailt</a> a regisztrációkor használt
			címéről, és regisztráljuk felhasználói fiókját.</p>
	</div>
</div>