<div class="mainBg staticPage">
	<div class="container">
		{% if prev %}<a href="/chefReviewOrders?day={{ prev }}">Előző hét</a> {% endif %} <a href="/chefReviewOrders">Adktuális hét</a> <a href="/chefReviewOrders?day={{ next }}">Következő hét</a>
		<table border="1">
			<tr>
				<th> </th>
				{% for day in days %}
					<th><a href="/deliveryReviewOrders?day={{ day.date }}">{{ day.day }}<br/>{{ day.date }}</a></th>
				{% endfor%}
			</tr>
			{% for category in menu %}
				<tr><td> {{ category.category.name }} </td>
				{% for day in category.days %}
					<td valign="bottom">
					<div>
					{% for menuItem in day.menuItems %}
						{{ menuItem.orderedQuantity }} adag 
						{{ menuItem.dish.title }}
						{% for component in menuItem.components %}
							,{{ component.dish.title }}
						{% endfor %}
						<br/>
					{% endfor %}
					{% for composit in day.composits %}
						{{ composit.orderedQuantity }} adag 
						{% for component in composit.components%}
							{{component.dish.title}}{% for subItem in component.components%}, {{subItem.dish.title}}{% endfor %}
						{% endfor %}
						<br/>
					{% endfor %}
					</div>
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr>
			<td><strong>Árak összesen</strong><br/><small>(Szállítás nélkül)</small></td>
				{% for day in days %}
					<td><strong>{{day.orderedPrice}} Ft</strong></td>
				{% endfor%}
			</tr>
		</table>
	</div>
</div>






















