<div class="mainBg staticPage">
	<div class="container">
		<h2>Elérhetőségeink</h2>
		
		<p>Rendeléseket a honlapon keresztül veszünk fel. Ha valamilyen észrevétele, javaslata van az oldallal kapcsolatban, akkor keressen minket:</p>
		<p> Telefonon: 06 30 228 5106<br/>
			Emailen: diet-futar@diet-futar.hu<br/>
			Facebookon: https://www.facebook.com/DietFutar</p>
		<p>Vagy személyesen:</p>
		<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=HU-BU,+Budapest,+Sz%C3%A9chenyi+t%C3%A9r+9,+Hungary&amp;aq=0&amp;oq=Sz%C3%A9chenyi+t%C3%A9r+9.,+Budapest,+HU.&amp;sll=37.0625,-95.677068&amp;sspn=40.545434,86.572266&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=1045+Budapest,+%C3%9Ajpest,+Sz%C3%A9chenyi+t%C3%A9r+9,+Hungary&amp;ll=47.552375,19.095268&amp;spn=0.027806,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
	</div>
</div>