{% from '/templates/macros.html' import menuItemToOrderMacro, compositToOrderMacro%}
<div class="mainBg staticPage">
	<div class="container">
		<strong><a href="/userOverview?userKey={{week.user.key()}}">{{week.user.familyName}} {{week.user.givenName}} </a>, {{week.user.email}}, {{week.user.phoneNumber}}</strong><br/>
		Ételek <strong>{{orderTotal}} Ft</strong>, Szállítás: <strong>{{deliveryTotal}} Ft</strong> Összesen: <strong>{{total}} Ft</strong>
		<div class="span-24 last calendar">
			<div class="span-24 last calendarHeader">
				{% if prev %}<a href="/deliverable?weekKey={{ prev }}" class="span-2 lastWeek">Előző hét</a> {% else %}<div class="span-2">--</div>{% endif %}
				{% for day in days %}
					<div class="span-4"><h3>{{ day.day }}</h3>{{ day.date }}</div>
				{% endfor%}
				{% if next %}<a href="/deliverable?weekKey={{ next }}" class="span-2 last nextWeek">Következő hét</a> {% else %}<div class="span-2 last nextWeek">--</div>{% endif %}
			</div>

			<div class="span-24 last calendarRow">
				<p class="span-2">&nbsp;</p>
				{% for day in days %}
					<div class="span-4 calendarColumn">
						{% if day.orderedItems|count == 0 %}
							&nbsp;
						{% endif %}
						{% for item in day.orderedItems %}
							{% if item.isMenuItem%}
								{{ menuItemToOrderMacro (item) }}
							{% else %}
								{{ compositToOrderMacro(item) }}
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			<div class="span-24 last subTotal">
				<h2 class="span-2">Összesen</h2>
				{% for day in days %}
					<div class="span-4">
						<strong>{{ day.orderedPrice }} Ft</strong>
					</div>
				{% endfor%}
			</div>
			<div class="span-24 last subTotal">
				<h2 class="span-2">Szállítási cím</h2>
				{% for day in days %}
				<div class="span-4">
					{% if day.has_key('address') %}
						{{ day.address.zipCode }} {{ day.address.street }}  {{ day.address.streetNumber }}<br/>
						<strong>Szállítási költség:</strong> <strong id="deliveryCost{{day.date}}">{{ day.deliveryCost }}</strong> <strong>Ft</strong>
					{% else %}
						&nbsp;
					{% endif %}
				</div>
				{% endfor%}
			</div>
		</div>
	</div>
</div>