{% from '/templates/macros.html' import menuItemTitleAndContentSmall, compositTitleAndContentSmall %}
<div class="mainBg staticPage">
	<div class="container">

		{% if prev %}<a href="/deliveryReviewOrders?day={{ prev }}">Előző nap</a> {% endif %} <a href="/deliveryReviewOrders?day={{ actual }}">Ma</a> <a href="/deliveryReviewOrders?day={{ next }}">Következő nap</a>
		<br/>
		{{ day.date }} <br/>
		{{ day.day }} <br/>
		Elemek: {{ dayCount}}<br/>
		Mennyiség: {{ dayQuantity}}<br/>
		Összesen: {{ dayTotal}} Ft
		<table border="1">
			<tr>
				<th>Folyamatban</th><th>Kerület</th><th>Irányítószám</th><th>Cím</th><th>Név</th><th>Rendelés</th><th>Összesen</th>
			</tr>
			{% for order in orders%}
			<form method="post">
				<input type="hidden" name="weekKey" value="{{order.week.key()}}"/>
				<tr>
					<td><input type="checkbox" name="delivered" {% if order.delivered %} checked="checked" {% endif %}/></td>
					<td>{{order.district}}</td>
					<td>{{order.zipCode}}</td>
					<td>{{order.street}} {{order.streetNumber}}</td>
					<td><a href="/deliverable?weekKey={{order.week.key()}}">{{order.week.user.familyName}} {{order.week.user.givenName}}</a></td>
					<td>
						{% for item in order.orderedItems %}
							{{item.orderedQuantity}}
							{% if item.isMenuItem %}
								{{menuItemTitleAndContentSmall (item)}}
							{% else %}
								{{compositTitleAndContentSmall (item)}}
							{% endif %}
							{{ item.price }} Ft
							<br/>
						{% endfor %}
					</td>
					<td>{{order.dailyUserTotal}} Ft</td>
				</tr>
			</form>
			{% endfor %}
		</table>
	</div>
</div>





















