{% from '/templates/macros.html' import menuItemToOrderMacro, compositToOrderMacro%}
<div class="mainBg">
	<div class="container">
	{{week.user.familyName}} {{week.user.givenName}}<br/>
	{{week.user.email}} {{week.user.phoneNumber}}<br/>
		<div class="span-24 last calendar">
			<div class="span-24 last calendarHeader">
				<div class="span-2">&nbsp;</div>
				{% for day in days %}
					<div class="span-4"><h3>{{ day.day }}</h3>{{ day.date }}</div>
				{% endfor%}
			</div>
			
			<div class="span-24 last calendarRow">
				<p class="span-2">&nbsp;</p>
				{% for day in days %}
					<div class="span-4 calendarColumn">
						{% if day.orderedItems|count == 0 %}
							&nbsp;
						{% endif %}
						{% for item in day.orderedItems %}
							{% if item.isMenuItem%}
								{{ menuItemToOrderMacro (item) }}
							{% else %}
								{{ compositToOrderMacro(item) }}
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			<div class="span-24 last subTotal">
				<h2 class="span-2">Összesen</h2>
				{% for day in days %}
					<div class="span-4">
						<strong>{{ day.orderedPrice }} Ft</strong>
					</div>
				{% endfor%}
			</div>
			<div class="span-24 last subTotal">
				<h2 class="span-2">Szállítási cím</h2>
				{% for day in days %}
				<div class="span-4">
					{% if day.has_key('address') %}
						{{ day.address.zipCode }} {{ day.address.street }}  {{ day.address.streetNumber }}<br/>
						<strong>Szállítási költség:</strong> <strong id="deliveryCost{{day.date}}">{{ day.deliveryCost }}</strong> <strong>Ft</strong>
					{% else %}
						&nbsp;
					{% endif %}
				</div>
				{% endfor%}
			</div>
		</div>
	</div>
</div>