<div class="mainBg staticPage">
	<div class="container">
		<h3>{{ dish.title }}</h3>
		<form method="post">
			<input type="hidden" name="dishKey" value="{{ dish.key }}"/>
			<input type="text" name="title" value="{{ dish.title }}" style="width: 400px;"/><br/>
			
			<select name="dishCategoryKey">
				<option value="">-- törlés a kategóriából --</option>
				{% for availableCategory in availableCategories %}
					<option value="{{ availableCategory.key }}"
						{% if ((dish.category != None) and (availableCategory.key==dish.category.key)) %}
							selected="selected"
						{% endif %}
					>{{ availableCategory.name }}</option>
				{% endfor %}
		
			</select><br/>
			<strong>Bekerülési költség: {% if dish.price == None%}0{% else %}{{ dish.price }}{% endif %} Ft</strong><br/>
			<textarea name="subtitle" cols="40" rows="4" style="height: 40px">{{ dish.subtitle }}</textarea><br/>
			<textarea name="description" cols="40" rows="4" style="height: 40px">{{ dish.description }}</textarea><br/>
			<label>Tojás mentes <input type="checkbox"  name="eggFree" cols="60" value="yes" {% if(dish.eggFree) %} checked="true"{% endif %}/></label><br/>
			<label>Tej mentes <input type="checkbox"  name="milkFree" cols="60" value="yes" {% if(dish.milkFree) %} checked="true"{% endif %}/></label><br/>
			<input type="submit" value ="Mentés"/>
		</form>
			<!-- Add a new ingredient -->
		<form action="{{ add_url }}" method="post">
			<input type="hidden" name="dishKey" value="{{ dish.key }}"/>
			<select name = "ingredientKey">
			{% for ingredient in availableIngredients %}
				<option value="{{ ingredient.key }}">{{ ingredient.name }}</option>
			{% endfor %}
			</select>
			<input type="text" name="quantity" cols="5"/> g
			<input type="submit" value="Hozzáadás">
		</form>
		<a href="/ingredient">Új alapanyag felvitele</a>
	
		<!-- List of ingredients -->
		<h3>Hozzávalók</h3>
	
		<table>
		{% for ingredient in dish.ingredients %}
		<tr>
		<form action="{{ add_url }}" method="post">
			<input type="hidden" name="dishKey" value="{{ dish.key }}"/>
			<input type="hidden" name="dishIngredientKey" value="{{ ingredient.key }}"/>
			<td><input type="text" name="quantity" value="{{ ingredient.quantity }}"/> g </td><td><a href="/ingredient?ingredientKey={{ingredient.ingredient_key}}"> {{ ingredient.name }}</a> {% if (ingredient.energy==None or ingredient.energy==0.0) %}<strong><font color="red">!!!</font></strong>{%endif%}</td>
			<td><input type="submit" value ="Mentés"/></td>
		</form>
		<td><form action="/deleteIngredientFromDish" method="post">
			<input type="hidden" name="dishKey" value="{{ dish.key }}"/>
			<input type="hidden" name="dishIngredientKey" value="{{ ingredient.key }}"/>
			<input type="submit" value="Tölés">
		</form></td>
	    {% endfor %}
		</table>
		<table>
		<tr><td>Energia</td><td>{% print dish.energy %} kcal</td></tr>
		</table>
	</div>
</div>
