<div class="mainBg">
	<div class="container">
		<h3>Alapanyagok</h3>
		<table>
		<tr>
			<form method="post">
				<td colspan="2"><input type="text" name="ingredient_name" cols="60"/></td>
				<td><input type="submit" value="Add ingredient"></td>
			</form>
		</tr>
		{% for ingredient in ingredients %}
		<tr>
			<td><a href="/ingredient?ingredientKey={{ingredient.key}}">{{ ingredient.name }}</a></td>
			<td>{% if ingredient.category != None %}
				<a href="ingredientCategory?ingredientCategoryKey={{ ingredient.category.key }}">{{ ingredient.category.name }}</a>
			{% endif %}
			</td>
			<td><form action="{{delete_url}}" method="post">
				<input type="hidden" name="ingredientKey" value="{{ ingredient.key }}"/>
				<input type="submit" value="Töröl">
			</form></td>
		</tr>
		{% endfor %}
		</table>
	</div>
</div>
