<div class="span-6 login">
	{% if user %}
		<h3>{{ user.email }}</h3>
		<a href="/profile">Profil</a><br/>
		<a href="/previousOrders">Korábbi rendelések</a><br/>
		<a href="/logout">Kilépés</a>
	{% else %}
		<form action="/login" method="post">
				<input type="text" name="email"  placeholder="E-mail" />
				<input type="password" name="password" placeholder="Jelszó"/>
				{% if (login_error) %}
				<span style="color: 'RED'">{{ login_error }}</span><br/>
				{% else %}
				{% endif %}
				<input type="submit" value="Belépés"/>
                <a href="/registration">Regisztráció</a>
		</form> 
	{% endif %}
</div>
