{% macro itemPrice(item)%}
	<strong>{% if item.price == None%}0{% else %}{{ item.price }}{% endif %} Ft</strong>
{% endmacro %}

{% macro menuItemTitleAndContent(menuItem)%}
		<h3 class='menuItamMainDish'>{{ menuItem.dish.title }}</h3>
		<p class='menuItamSubDish'>{% for component in menuItem.components %}
			{{ component.dish.title }} 
		{% endfor %}</p>
{% endmacro %}

{% macro menuItemTitleAndContentWithIndicatorImage(menuItem)%}
		<h3 class='menuItamMainDish'>{% if menuItem.novelty%} <span style="color:RED;">Új! </span>{% endif %}{{ menuItem.dish.title }}</h3>
		<p class='menuItamSubDish'>{% for component in menuItem.components %}
			{{ component.dish.title }} 
		{% endfor %}
		{% if menuItem.eggFree or menuItem.milkFree%}<br/>{% endif %}
		{% if menuItem.eggFree %}<img style="height: 40px; vertical-align: middle;" src="img/eggFree.png"/>{% endif %}
		{% if menuItem.milkFree %}<img style="height: 40px; vertical-align: middle;" src="img/milkFree.png"/>{% endif %}</p>
{% endmacro %}

{% macro menuItemTitleAndContentSmall(menuItem)%}
		{{ menuItem.dish.title }}
		{% for component in menuItem.components %}
			<i>{{ component.dish.title }}</i> 
		{% endfor %}
{% endmacro %}

{% macro compositTitleAndContentSmall(composit)%}
	{% for component in composit.components%}
		{{ menuItemTitleAndContentSmall(component) }}
	{% endfor %}
{% endmacro %}

{% macro tooltipContent(menuItem)%}
		<h3 class='tooltipMenuItemTitle'>{{ menuItem.dish.title }}</h3>
		<p class='tooltipMenuItemSubtitle'>{{ menuItem.dish.subtitle }}</p>
		<p class='tooltipMenuItemTitle'>{% for component in menuItem.components %}
			{{ component.dish.title }} 
		{% endfor %}</p>
{% endmacro %}

{% macro orderQuantityBox(item)%}
			<div style="text-align: right;">
				{% if item.orderedQuantity > 0 %}
					<small class="orderQuantity">{{ item.orderedQuantity}} {% if item.orderable %}+{% else %}adag{% endif %} </small>
				{% endif %}
				{% if item.orderable %}
					<input class="orderQuantity" onkeyup="validateQuantity('MIC{{ item.key }}')" type="text" id="MIC{{ item.key }}" name="MIC{{ item.key }}" value={% if item.inCurrentOrder %}"{{ item.inCurrentOrder}}"{% else %}"0"{% endif %}/>
					<img style="height: 19px; width:14px; vertical-align: middle;" src="img/minus.png" onclick="decrementQuantity('MIC{{ item.key }}')"/>
					<img style="height: 17px; width:17px; vertical-align: middle;" src="img/plus.png" onclick="incrementQuantity('MIC{{ item.key }}')"/>
				{% endif %}
			</div>
{% endmacro %}

{% macro menuItemTooltip(menuItem) %}
	{{ tooltipContent(menuItem) }}
	{% if menuItem.energy != None and menuItem.energy > 0%}
		<table style='margin-bottom: 5px;'>
			<tr><td class='menuItemNutrition'> Energia:</td><td class='menuItemNutrition' style='text-align: right;'>{% if menuItem.energy != None %} {{ menuItem.energy }} {% endif %}</td><td class='menuItemNutrition'>kCal</td></tr>
			<tr><td class='menuItemNutrition'> Szénhidrát:</td><td class='menuItemNutrition' style='text-align: right;'>{% if menuItem.carbs != None %} {{ menuItem.carbs }} {% endif %}</td><td class='menuItemNutrition'>g</td></tr>
			<tr><td class='menuItemNutrition'> Fehérje:</td><td class='menuItemNutrition' style='text-align: right;'>{% if menuItem.protein != None %} {{ menuItem.protein }} {% endif %}</td><td class='menuItemNutrition'>g</td></tr>
			<tr><td class='menuItemNutrition'> Rost:</td><td class='menuItemNutrition' style='text-align: right;'>{% if menuItem.fiber != None %} {{ menuItem.fiber }} {% endif %}</td><td class='menuItemNutrition'>g</td></tr>
			<tr><td class='menuItemNutrition'> Zsír:</td><td class='menuItemNutrition' style='text-align: right;'>{% if menuItem.fat != None %} {{ menuItem.fat }} {% endif %}</td><td class='menuItemNutrition'>g</td></tr>
		</table>
	{% endif %}
{% endmacro %}

{% macro menuItemToOrderMacro(menuItem) %}
	<div class="{% if menuItem.dish.category.isExtra %} calendarElementExtra {% else %} calendarElement {% endif %} {% if (not menuItem.orderable ) and menuItem.orderedQuantity == 0 %}  inactive {% endif%}"
	id="tooltip{{menuItem.key}}"
	title=" {{ menuItemTooltip(menuItem) }} ">
		<script type="text/javascript">
		$(function() {
		$("#tooltip{{menuItem.key}}").tooltip({
			track: true,
			delay: 0,
			showURL: false,
			top: 10,
			left: 0
		});
		});
		</script>
		{{ menuItemTitleAndContentWithIndicatorImage(menuItem) }}
		{{ itemPrice(menuItem) }}
		{{ orderQuantityBox(menuItem) }}
	</div>
{% endmacro %}

{% macro compositToOrderMacro(composit) %}
	<div
		class="{% if composit.category.isExtra %} calendarElementExtra {% else %} calendarElement {% endif %} {% if (not composit.orderable ) and composit.orderedQuantity == 0 %}  inactive {% endif%}">
		{% for component in composit.components%}
			<div class="componentMenuItem"
				id="tooltip{{component.uid}}"
				title=" {{ menuItemTooltip(component) }} ">
				{{ menuItemTitleAndContent(component) }}
				<script type="text/javascript">
					$(function() {
					$("#tooltip{{component.uid}}").tooltip({
						track: true,
						delay: 0,
						showURL: false,
						top: -15,
						left: 5
					});
					});
				</script>
			</div>
		{% endfor %}
		{{ itemPrice(composit) }}
		{{ orderQuantityBox(composit) }}
	</div>
{% endmacro %}

{% macro humanReadableOrderState(order)%}
	{% if order.orderState == 0%}Megrendelve{% endif%}
	{% if order.orderState == 1%}Befogadva{% endif%}
	{% if order.orderState == 2%}Elutasítva{% endif%}
	{% if order.orderState == 3%}Szállításra kész{% endif%}
	{% if order.orderState == 4%}Kiszállítva{% endif%}
	{% if order.orderState == 5%}Sikertelen{% endif%}
	{% if order.orderState == 6%}Visszavonva{% endif%}
{% endmacro %}
