<div class="mainBg staticPage">
	<div class="container">
		<h2>Boldog Új Évet!</h2>
		<img src="img/malac.jpg" style="width: 200px; margin-top: 20px; margin-bottom: 20px;"/>
		<p>
			Minden kedves volt és leendő vendégünknek boldog új évet kívánunk!<br/>
			Kis türelmeteket kérjük, csak az év második hetében, Január 7. -én Hétfőn fogunk kinyitni, de akkor nagyon. A jövő heti étlap már <a href="/order?day=2013-01-07">elérhető</a>. Jó rendelést, jó pihenést, jó évkezdést kívánunk mindenkinek. <br/><br/> 
			Üdvözlettel: Diet Futár
		</p>
	</div>
</div>