{% from '/templates/macros.html' import menuItemToOrderMacro, compositToOrderMacro%}
<div class="review-ordered">
	<div class="container">
		<script  type="text/javascript">
			function addressChangeListener(day, orderedPrice) {
				var addressCosts = [{% for address in addresses %}{{ address.deliveryCost }},{% endfor %}];
				var addressLimits = [{% for address in addresses %}{{ address.deliveryLimit }},{% endfor %}];
				alert (addressCosts);
				var selectedIndex = document.getElementById('address_' + day).selectedIndex;
				var deliveryCost = addressCosts[selectedIndex];
				if (orderedPrice > addressLimits[selectedIndex]){
					deliveryCost = 0;
				}
				document.getElementById('deliveryCost' + day).innerHTML = deliveryCost;
			}
		
		</script>
		<div class="span-24 last calendar">
			<div class="span-24 last calendarHeader">
				{% if prev %}<a href="/personalMenu?day={{ prev }}" class="span-2 lastWeek">Előző hét</a> {% else %}<div class="span-2">--</div>{% endif %}
				{% for day in days %}
					<div class="span-4"><h3>{{ day.day }}</h3>{{ day.date }}</div>
				{% endfor%}
				{% if next %}<a href="/personalMenu?day={{ next }}" class="span-2 last nextWeek">Következő hét</a> {% else %}<div class="span-2 last nextWeek">--</div>{% endif %}
			</div>
			{% for category in menu%}
				<div class="span-24 last calendarRow">
					<h2 class="span-2">{{ category.category.name }}</h2>
					{% for day in category.days %}
						<div class="span-4 calendarColumn">
							{% if day.menuItems|length ==0 %}
								&nbsp;
							{% endif %}
							{% for menuItem in day.menuItems %}
								{{ menuItemToOrderMacro (menuItem) }}
							{% endfor %}
							{% for composit in day.composits %}
								{{ compositToOrderMacro(composit) }}
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
			<div class="span-24 last subTotal">
				<h2 class="span-2">Összesen</h2>
				{% for day in days %}
					<div class="span-4">
						<strong>{{ day.orderedPrice }} Ft</strong>
					</div>
				{% endfor%}
			</div>
			<div class="span-24 last subTotal">
				<h2 class="span-2">Szállítási cím</h2>
				{% for day in days %}
				<div class="span-4">
					{% if day.has_key('address') %}
						<select onchange="addressChangeListener('{{day.date}}',{{day.orderedPrice}} );" name="address_{{day.date}}" id="address_{{day.date}}" {% if day.changable == False %}disabled="disabled" {% endif%} style="width: 120px">
							{% for address in addresses %}
								<option value="{{address.key()}}" label="{{address.street}} {{address.streetNumber}}" {% if  day.has_key('address') and address.key() == day.address.key() %}selected="selected"{% endif %}></option>
							{% endfor %}
						</select><br/>
						<strong>Szállítási költség:</strong> <strong id="deliveryCost{{day.date}}">{{ day.deliveryCost }}</strong> <strong>Ft</strong>
					{% else %}
						&nbsp;
					{% endif %}
				</div>
				{% endfor%}
			</div>
			<form method="post">
			<div class="span-24 total last">
				<input id="saveAddress" type="submit" name="" value="Címek mentése" id=""/>
			</div>
			</form>
		</div>
	</div>
</div>
