<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<h2>Jelszó módosítás</h2>
		<p>Ön a <a href="http://diet-futar.hu">http://diet-futar.hu</a> oldalon jelszavának módosítását kérte. Az új jelszava <strong>{{password}}</strong>. Reméljük új jelszavával be fog tudni lépni. Jó étvágyat kívánunk.</p>
		<p>Üdvözlettel: Diet-futár</p>
	</body>
</html>