<div class="mainBg staticPage">
	<div class="container">
		<h2>Adatvédelmi nyilatkozat</h2>
		
		<p>
			Nálunk a Diet-futárnál egyetlen célunk hogy téged, kedves felhasználó jóllakassunk. Az adataidat is csak azért kérjük el, hogy ez minél gördülékenyebben menjen. Nem fogunk a ránk bízott adataiddal visszaélni: nem fogjuk más célra használni és nem fogjuk odaadni senkinek, egy szóval ígérjük vigyázunk rá. Az adatokat a Google AppEngine felhőjében, mások elől elzárva tartjuk. Ha valaki mégis megkaparintaná, a jelszavad akkor is biztonságban lesz, mert csak egy visszafejthetetlen lenyomatát tároljuk.<br/>
			Kötelezettséget vállalunk arra, hogy tevékenységünkkel kapcsolatos minden adatkezelés megfelel a jelen szabályzatban és a hatályos jogszabályokban meghatározott elvárásoknak.<br/>
			Adatvédelmi irányelvienk folyamatosan elérhetők a <a href="http://www.diet-futar.hu/privacy">http://www.diet-futar.hu/privacy</a> címen.<br/>
			A nyilatkozatot egyoldalúan nem fogjuk megváltoztatni, az esetlegesen szükségessé váló változásokról megfelelő időben egyeztetünk veled és minden felhasználóval.<br/>
			Amennyiben olyan kérdésed lenne, melyet jelen nyilatkozat nem válaszol meg, kérjük tedd fel e-mailben és 156 órán belül válaszolunk.<br/><br/>
			Adatkezelési alapelveink összhangban vannak az adatvédelemmel kapcsolatos hatályos jogszabályokkal, így különösen az alábbiakkal:<br/>
			<ul>
				<li>
					<a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=95900004.TV" target="_blank">1959. évi IV. törvény</a> – a Polgári Törvénykönyvről (Ptk.);
				</li>
				<li>
					<a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=99200063.TV" target="_blank">1992. évi LXIII. törvény</a> – a személyes adatok védelméről és a közérdekű adatok nyilvánosságáról (a továbbiakban Avtv., adatvédelmi törvény);
				</li>
				<li>
					<a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=99300096.TV" target="_blank">1993. évi XCVI. törvény</a> – az Önkéntes Kölcsönös Biztosító Pénztárakról (Öpt.);
				</li>
				<li>
					<a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=99500119.TV" target="_blank">1995. évi CXIX. törvény</a> – a kutatás és a közvetlen üzletszerzés célját szolgáló név- és lakcímadatok kezeléséről (Katv.);
				</li>
				<li>
					<a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=99700082.TV" target="_blank">1997. évi LXXXII. törvény</a> – a magánnyugdíjról és a magánnyugdíjpénztárakról (Mny. tv.);
				</li>
				<li>
					<a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=A0000100.TV" target="_blank">2000. évi C. törvény</a> – a számvitelről (Számv. tv.);
				</li>
				<li>
					<a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=A0100108.TV" target="_blank">2001. évi CVIII. törvény</a> – az elektronikus kereskedelmi szolgáltatások, valamint az információs társadalommal összefüggő szolgáltatások egyes kérdéseiről (Eker. tv.);
				</li>
				<li>
					<a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=A0300060.TV" target="_blank">2003. évi LX. törvény</a> – a biztosítókról és a biztosítási tevékenységről (Bit.);
				</li>
				<li>
					<a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=A0800048.TV" target="_blank">2008. évi XLVIII. törvény</a> – a gazdasági reklámtevékenység alapvető feltételeiről és egyes korlátairól (Grt.).
				</li>
			</ul>
		</p>
	</div>
</div>