<div class="mainBg">
	<div class="container">
		<div class="span-24 last profile">
			<div class="span-24 last profileRow">
				<h2 class="span-2 prepend-1 profileColumn profileElement">Profil</h2>
				<div class="span-9 prepend-1 profileColumn profileElement">
					<form method="post">
						<label>E-mail <span>{{ user.email }}</span></label>
						<label>Vezetéknév<input type="text" name="familyName" value="{{user.familyName}}"/></label>
						<label>Keresztnév<input type="text" name="givenName" value="{{user.givenName}}"/></label>
						<label>Telefonszám<input type="text" name="phoneNumber" value="{{user.phoneNumber}}"/></label>
						<label><input type="submit" value="Mentés" /></label>
					</form>
				</div>
				<div class="span-9 prepend-1 profileColumn profileElement">
					<form action="/changePassword" method="post">
						<label>Jelszó<input type="password" name="oldPassword"/></label>
						<p style="margin: 0px; margin-bottom: 17px">
						{% if (login_error) %}
							<span style="color: 'RED'; font-size: 20px">{{ login_error }}</span>
						{% else %}
						<br/>
						{% endif %}
						</p>
						<label>Új jelszó <input type="password" name="newPassword"/></label>
						<label>Új jelszó mégegyszer <input type="password" name="passwordCheck"/></label>
						<label><input type="submit" value="Jelszó módosítás"/></label>
					</form>
				</div>
				<h2 class="span-2 prepend-1 profileColumn profileElement">Ajánló link</h2>
				<div class="span-20 prepend-1 profileColumn profileElement">
					Az alábbi link használatával ajánlhatja az oldalt ismerőseinek. Ha öten rendeltek az alábbi linken keresztül regisztrálva napi menüt, következő rendelését ajándék desszerttel szállítjuk.<br/>
					<a href="http://diet-futar.hu/registration?refererKey={{ user.key() }}">http://diet-futar.hu/registration?refererKey={{ user.key() }}</a>
				</div>
			</div>
			<div class="span-24 profileRow">
				<h2 class="span-2 prepend-1 profileColumn profileElement">Címek</h2>
				<div class="span-21">
					<div class="span-9 prepend-1 profileColumn profileElement">
						<form action="/address" method="post">
							<label>Kerület <select name="district">
								{% for district in districts %}
									<option value="{{district}}" label="{{district}}. kerület"></option>
								{% endfor %}
							</select></label>
							<label>Irányítószám<input type="text" name="zipCode"/></label>
							<label>Utca név<input type="text" name="street"/></label>
							<label>Házszám, emelet<input type="text" name="streetNumber"/></label>
							<label><input type="submit" value="Cím Hozzáadása"/></label>
						</form>
					</div>
					{% for address in user.addresses%}
						<div class="span-9 prepend-1 profileColumn profileElement">
							<form action="/address" method="post">
								<input type="hidden" name="addressKey" value="{{address.key()}}"/>
								<label>Kerület <select name="district">
									{% for district in districts %}
										<option value="{{district}}" label="{{district}}. kerület" {% if district==address.district%}selected{% endif %}></option>
									{% endfor %}
								</select></label>
								<label>Irányítószám<input type="text" name="zipCode" value="{{address.zipCode}}"/></label>
								<label>Utca név<input type="text" name="street" value="{{address.street}}"/></label>
								<label>Házszám, emelet<input type="text" name="streetNumber" value="{{address.streetNumber}}"/></label>
							</form>
							<label><button onclick="">Cím módosítása</button></label>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>