<script language="JavaScript">
	function modifyAddress(formId) {
		var form = document.forms[formId];
		form.submit();
	}
</script>

<div class="mainBg staticPage">
	<div class="container">
		<div class="span-24 last profile">
			<div class="span-24 last profileRow">
				<h2 class="span-2 prepend-1 profileColumn profileElement">Profil</h2>
				<div class="span-9 prepend-1 profileColumn profileElement">
					<form method="post">
						<label>E-mail <span>{{ user.email }}</span></label>
						<label>Vezetéknév<input type="text" name="familyName" value="{{user.familyName}}"/></label>
						<label>Keresztnév<input type="text" name="givenName" value="{{user.givenName}}"/></label>
						<label>Telefonszám<input type="text" name="phoneNumber" value="{{user.phoneNumber}}"/></label>
						<label><input type="submit" value="Mentés" /></label>
					</form>
				</div>
				<div class="span-9 prepend-1 profileColumn profileElement">
					<form action="/changePassword" method="post">
						<label>Jelszó<input type="password" name="oldPassword"/></label>
						<p style="margin: 0px; margin-bottom: 17px">
						{% if (login_error) %}
							<span style="color: 'RED'; font-size: 20px">{{ login_error }}</span>
						{% else %}
						<br/>
						{% endif %}
						</p>
						<label>Új jelszó <input type="password" name="newPassword"/></label>
						<label>Új jelszó mégegyszer <input type="password" name="passwordCheck"/></label>
						<label><input type="submit" value="Jelszó módosítás"/></label>
					</form>
				</div>
				<h2 class="span-2 prepend-1 profileColumn profileElement">Ajánló link</h2>
				<div class="span-20 prepend-1 profileColumn profileElement">
					Az alábbi link használatával ajánlhatja az oldalt ismerőseinek. Ha öten rendeltek az alábbi linken keresztül regisztrálva napi menüt, következő rendelését ajándék desszerttel szállítjuk.<br/>
					<a href="http://diet-futar.hu/registration?refererKey={{ user.key() }}">http://diet-futar.hu/registration?refererKey={{ user.key() }}</a>
				</div>
			</div>
			<div class="span-24 profileRow">
				<h2 class="span-2 prepend-1 profileColumn profileElement">Címek</h2>
				<div class="span-21">
					<div class="span-9 prepend-1 profileColumn profileElement">
						<form action="/address" method="post">
							<label>Irányítószám<select name="zipNumCode" style="width: 55px">
								<option value="1011">1011</option>
								<option value="1012">1012</option>
								<option value="1013">1013</option>
								<option value="1014">1014</option>
								<option value="1015">1015</option>
								<option value="1016">1016</option>
								<option value="1021">1021</option>
								<option value="1022">1022</option>
								<option value="1023">1023</option>
								<option value="1024">1024</option>
								<option value="1025">1025</option>
								<option value="1026">1026</option>
								<option value="1027">1027</option>
								<option value="1028">1028</option>
								<option value="1029">1029</option>
								<option value="1031">1031</option>
								<option value="1032">1032</option>
								<option value="1033">1033</option>
								<option value="1034">1034</option>
								<option value="1035">1035</option>
								<option value="1036">1036</option>
								<option value="1037">1037</option>
								<option value="1038">1038</option>
								<option value="1039">1039</option>
								<option value="1041">1041</option>
								<option value="1042">1042</option>
								<option value="1043">1043</option>
								<option value="1044">1044</option>
								<option value="1045">1045</option>
								<option value="1046">1046</option>
								<option value="1047">1047</option>
								<option value="1048">1048</option>
								<option value="1051">1051</option>
								<option value="1052">1052</option>
								<option value="1053">1053</option>
								<option value="1054">1054</option>
								<option value="1055">1055</option>
								<option value="1056">1056</option>
								<option value="1061">1061</option>
								<option value="1062">1062</option>
								<option value="1063">1063</option>
								<option value="1064">1064</option>
								<option value="1065">1065</option>
								<option value="1066">1066</option>
								<option value="1067">1067</option>
								<option value="1068">1068</option>
								<option value="1071">1071</option>
								<option value="1072">1072</option>
								<option value="1073">1073</option>
								<option value="1074">1074</option>
								<option value="1075">1075</option>
								<option value="1076">1076</option>
								<option value="1077">1077</option>
								<option value="1078">1078</option>
								<option value="1081">1081</option>
								<option value="1082">1082</option>
								<option value="1083">1083</option>
								<option value="1084">1084</option>
								<option value="1085">1085</option>
								<option value="1086">1086</option>
								<option value="1087">1087</option>
								<option value="1088">1088</option>
								<option value="1089">1089</option>
								<option value="1091">1091</option>
								<option value="1092">1092</option>
								<option value="1093">1093</option>
								<option value="1094">1094</option>
								<option value="1095">1095</option>
								<option value="1096">1096</option>
								<option value="1097">1097</option>
								<option value="1098">1098</option>
								<option value="1101">1101</option>
								<option value="1102">1102</option>
								<option value="1103">1103</option>
								<option value="1104">1104</option>
								<option value="1105">1105</option>
								<option value="1106">1106</option>
								<option value="1107">1107</option>
								<option value="1108">1108</option>
								<option value="1111">1111</option>
								<option value="1112">1112</option>
								<option value="1113">1113</option>
								<option value="1114">1114</option>
								<option value="1115">1115</option>
								<option value="1116">1116</option>
								<option value="1117">1117</option>
								<option value="1118">1118</option>
								<option value="1119">1119</option>
								<option value="1121">1121</option>
								<option value="1122">1122</option>
								<option value="1123">1123</option>
								<option value="1124">1124</option>
								<option value="1125">1125</option>
								<option value="1126">1126</option>
								<option value="1131">1131</option>
								<option value="1132">1132</option>
								<option value="1133">1133</option>
								<option value="1134">1134</option>
								<option value="1135">1135</option>
								<option value="1136">1136</option>
								<option value="1137">1137</option>
								<option value="1138">1138</option>
								<option value="1139">1139</option>
								<option value="1141">1141</option>
								<option value="1142">1142</option>
								<option value="1143">1143</option>
								<option value="1144">1144</option>
								<option value="1145">1145</option>
								<option value="1146">1146</option>
								<option value="1147">1147</option>
								<option value="1148">1148</option>
								<option value="1149">1149</option>
								<option value="1151">1151</option>
								<option value="1152">1152</option>
								<option value="1153">1153</option>
								<option value="1154">1154</option>
								<option value="1155">1155</option>
								<option value="1156">1156</option>
								<option value="1157">1157</option>
								<option value="1158">1158</option>
								<option value="1161">1161</option>
								<option value="1162">1162</option>
								<option value="1163">1163</option>
								<option value="1164">1164</option>
								<option value="1165">1165</option>
								<option value="1171">1171</option>
								<option value="1172">1172</option>
								<option value="1173">1173</option>
								<option value="1174">1174</option>
								<option value="1181">1181</option>
								<option value="1182">1182</option>
								<option value="1183">1183</option>
								<option value="1184">1184</option>
								<option value="1185">1185</option>
								<option value="1186">1186</option>
								<option value="1188">1188</option>
								<option value="1191">1191</option>
								<option value="1192">1192</option>
								<option value="1193">1193</option>
								<option value="1194">1194</option>
								<option value="1195">1195</option>
								<option value="1196">1196</option>
								<option value="1201">1201</option>
								<option value="1202">1202</option>
								<option value="1203">1203</option>
								<option value="1204">1204</option>
								<option value="1205">1205</option>
								<option value="1211">1211</option>
								<option value="1212">1212</option>
								<option value="1213">1213</option>
								<option value="1214">1214</option>
								<option value="1215">1215</option>
								<option value="1221">1221</option>
								<option value="1222">1222</option>
								<option value="1223">1223</option>
								<option value="1224">1224</option>
								<option value="1225">1225</option>
								<option value="1237">1237</option>
								<option value="1238">1238</option>
								<option value="1239">1239</option>
							</select></label>
							<label>Utca név<input type="text" name="street"/></label>
							<label>Házszám, emelet<input type="text" name="streetNumber"/></label>
							<label><input type="submit" value="Cím Hozzáadása"/></label>
						</form>
					</div>
					{% for address in user.addresses%}
						{% if address.active %}
							<div class="span-9 prepend-1 profileColumn profileElement">
								<form name="address_{{address.key()}}" id="address_{{address.key()}}" action="/address" method="post">
									<input type="hidden" name="addressKey" value="{{address.key()}}"/>
									<label>Irányítószám <select name="zipNumCode" style="width: 55px">
										<option value="1011" {% if address.zipNumCode == 1011%} selected="selected" {% endif %}>1011</option>
										<option value="1012" {% if address.zipNumCode == 1012%} selected="selected" {% endif %}>1012</option>
										<option value="1013" {% if address.zipNumCode == 1013%} selected="selected" {% endif %}>1013</option>
										<option value="1014" {% if address.zipNumCode == 1014%} selected="selected" {% endif %}>1014</option>
										<option value="1015" {% if address.zipNumCode == 1015%} selected="selected" {% endif %}>1015</option>
										<option value="1016" {% if address.zipNumCode == 1016%} selected="selected" {% endif %}>1016</option>
										<option value="1021" {% if address.zipNumCode == 1021%} selected="selected" {% endif %}>1021</option>
										<option value="1022" {% if address.zipNumCode == 1022%} selected="selected" {% endif %}>1022</option>
										<option value="1023" {% if address.zipNumCode == 1023%} selected="selected" {% endif %}>1023</option>
										<option value="1024" {% if address.zipNumCode == 1024%} selected="selected" {% endif %}>1024</option>
										<option value="1025" {% if address.zipNumCode == 1025%} selected="selected" {% endif %}>1025</option>
										<option value="1026" {% if address.zipNumCode == 1026%} selected="selected" {% endif %}>1026</option>
										<option value="1027" {% if address.zipNumCode == 1027%} selected="selected" {% endif %}>1027</option>
										<option value="1028" {% if address.zipNumCode == 1028%} selected="selected" {% endif %}>1028</option>
										<option value="1029" {% if address.zipNumCode == 1029%} selected="selected" {% endif %}>1029</option>
										<option value="1031" {% if address.zipNumCode == 1031%} selected="selected" {% endif %}>1031</option>
										<option value="1032" {% if address.zipNumCode == 1032%} selected="selected" {% endif %}>1032</option>
										<option value="1033" {% if address.zipNumCode == 1033%} selected="selected" {% endif %}>1033</option>
										<option value="1034" {% if address.zipNumCode == 1034%} selected="selected" {% endif %}>1034</option>
										<option value="1035" {% if address.zipNumCode == 1035%} selected="selected" {% endif %}>1035</option>
										<option value="1036" {% if address.zipNumCode == 1036%} selected="selected" {% endif %}>1036</option>
										<option value="1037" {% if address.zipNumCode == 1037%} selected="selected" {% endif %}>1037</option>
										<option value="1038" {% if address.zipNumCode == 1038%} selected="selected" {% endif %}>1038</option>
										<option value="1039" {% if address.zipNumCode == 1039%} selected="selected" {% endif %}>1039</option>
										<option value="1041" {% if address.zipNumCode == 1041%} selected="selected" {% endif %}>1041</option>
										<option value="1042" {% if address.zipNumCode == 1042%} selected="selected" {% endif %}>1042</option>
										<option value="1043" {% if address.zipNumCode == 1043%} selected="selected" {% endif %}>1043</option>
										<option value="1044" {% if address.zipNumCode == 1044%} selected="selected" {% endif %}>1044</option>
										<option value="1045" {% if address.zipNumCode == 1045%} selected="selected" {% endif %}>1045</option>
										<option value="1046" {% if address.zipNumCode == 1046%} selected="selected" {% endif %}>1046</option>
										<option value="1047" {% if address.zipNumCode == 1047%} selected="selected" {% endif %}>1047</option>
										<option value="1048" {% if address.zipNumCode == 1048%} selected="selected" {% endif %}>1048</option>
										<option value="1051" {% if address.zipNumCode == 1051%} selected="selected" {% endif %}>1051</option>
										<option value="1052" {% if address.zipNumCode == 1052%} selected="selected" {% endif %}>1052</option>
										<option value="1053" {% if address.zipNumCode == 1053%} selected="selected" {% endif %}>1053</option>
										<option value="1054" {% if address.zipNumCode == 1054%} selected="selected" {% endif %}>1054</option>
										<option value="1055" {% if address.zipNumCode == 1055%} selected="selected" {% endif %}>1055</option>
										<option value="1056" {% if address.zipNumCode == 1056%} selected="selected" {% endif %}>1056</option>
										<option value="1061" {% if address.zipNumCode == 1061%} selected="selected" {% endif %}>1061</option>
										<option value="1062" {% if address.zipNumCode == 1062%} selected="selected" {% endif %}>1062</option>
										<option value="1063" {% if address.zipNumCode == 1063%} selected="selected" {% endif %}>1063</option>
										<option value="1064" {% if address.zipNumCode == 1064%} selected="selected" {% endif %}>1064</option>
										<option value="1065" {% if address.zipNumCode == 1065%} selected="selected" {% endif %}>1065</option>
										<option value="1066" {% if address.zipNumCode == 1066%} selected="selected" {% endif %}>1066</option>
										<option value="1067" {% if address.zipNumCode == 1067%} selected="selected" {% endif %}>1067</option>
										<option value="1068" {% if address.zipNumCode == 1068%} selected="selected" {% endif %}>1068</option>
										<option value="1071" {% if address.zipNumCode == 1071%} selected="selected" {% endif %}>1071</option>
										<option value="1072" {% if address.zipNumCode == 1072%} selected="selected" {% endif %}>1072</option>
										<option value="1073" {% if address.zipNumCode == 1073%} selected="selected" {% endif %}>1073</option>
										<option value="1074" {% if address.zipNumCode == 1074%} selected="selected" {% endif %}>1074</option>
										<option value="1075" {% if address.zipNumCode == 1075%} selected="selected" {% endif %}>1075</option>
										<option value="1076" {% if address.zipNumCode == 1076%} selected="selected" {% endif %}>1076</option>
										<option value="1077" {% if address.zipNumCode == 1077%} selected="selected" {% endif %}>1077</option>
										<option value="1078" {% if address.zipNumCode == 1078%} selected="selected" {% endif %}>1078</option>
										<option value="1081" {% if address.zipNumCode == 1081%} selected="selected" {% endif %}>1081</option>
										<option value="1082" {% if address.zipNumCode == 1082%} selected="selected" {% endif %}>1082</option>
										<option value="1083" {% if address.zipNumCode == 1083%} selected="selected" {% endif %}>1083</option>
										<option value="1084" {% if address.zipNumCode == 1084%} selected="selected" {% endif %}>1084</option>
										<option value="1085" {% if address.zipNumCode == 1085%} selected="selected" {% endif %}>1085</option>
										<option value="1086" {% if address.zipNumCode == 1086%} selected="selected" {% endif %}>1086</option>
										<option value="1087" {% if address.zipNumCode == 1087%} selected="selected" {% endif %}>1087</option>
										<option value="1088" {% if address.zipNumCode == 1088%} selected="selected" {% endif %}>1088</option>
										<option value="1089" {% if address.zipNumCode == 1089%} selected="selected" {% endif %}>1089</option>
										<option value="1091" {% if address.zipNumCode == 1091%} selected="selected" {% endif %}>1091</option>
										<option value="1092" {% if address.zipNumCode == 1092%} selected="selected" {% endif %}>1092</option>
										<option value="1093" {% if address.zipNumCode == 1093%} selected="selected" {% endif %}>1093</option>
										<option value="1094" {% if address.zipNumCode == 1094%} selected="selected" {% endif %}>1094</option>
										<option value="1095" {% if address.zipNumCode == 1095%} selected="selected" {% endif %}>1095</option>
										<option value="1096" {% if address.zipNumCode == 1096%} selected="selected" {% endif %}>1096</option>
										<option value="1097" {% if address.zipNumCode == 1097%} selected="selected" {% endif %}>1097</option>
										<option value="1098" {% if address.zipNumCode == 1098%} selected="selected" {% endif %}>1098</option>
										<option value="1101" {% if address.zipNumCode == 1101%} selected="selected" {% endif %}>1101</option>
										<option value="1102" {% if address.zipNumCode == 1102%} selected="selected" {% endif %}>1102</option>
										<option value="1103" {% if address.zipNumCode == 1103%} selected="selected" {% endif %}>1103</option>
										<option value="1104" {% if address.zipNumCode == 1104%} selected="selected" {% endif %}>1104</option>
										<option value="1105" {% if address.zipNumCode == 1105%} selected="selected" {% endif %}>1105</option>
										<option value="1106" {% if address.zipNumCode == 1106%} selected="selected" {% endif %}>1106</option>
										<option value="1107" {% if address.zipNumCode == 1107%} selected="selected" {% endif %}>1107</option>
										<option value="1108" {% if address.zipNumCode == 1108%} selected="selected" {% endif %}>1108</option>
										<option value="1111" {% if address.zipNumCode == 1111%} selected="selected" {% endif %}>1111</option>
										<option value="1112" {% if address.zipNumCode == 1112%} selected="selected" {% endif %}>1112</option>
										<option value="1113" {% if address.zipNumCode == 1113%} selected="selected" {% endif %}>1113</option>
										<option value="1114" {% if address.zipNumCode == 1114%} selected="selected" {% endif %}>1114</option>
										<option value="1115" {% if address.zipNumCode == 1115%} selected="selected" {% endif %}>1115</option>
										<option value="1116" {% if address.zipNumCode == 1116%} selected="selected" {% endif %}>1116</option>
										<option value="1117" {% if address.zipNumCode == 1117%} selected="selected" {% endif %}>1117</option>
										<option value="1118" {% if address.zipNumCode == 1118%} selected="selected" {% endif %}>1118</option>
										<option value="1119" {% if address.zipNumCode == 1119%} selected="selected" {% endif %}>1119</option>
										<option value="1121" {% if address.zipNumCode == 1121%} selected="selected" {% endif %}>1121</option>
										<option value="1122" {% if address.zipNumCode == 1122%} selected="selected" {% endif %}>1122</option>
										<option value="1123" {% if address.zipNumCode == 1123%} selected="selected" {% endif %}>1123</option>
										<option value="1124" {% if address.zipNumCode == 1124%} selected="selected" {% endif %}>1124</option>
										<option value="1125" {% if address.zipNumCode == 1125%} selected="selected" {% endif %}>1125</option>
										<option value="1126" {% if address.zipNumCode == 1126%} selected="selected" {% endif %}>1126</option>
										<option value="1131" {% if address.zipNumCode == 1131%} selected="selected" {% endif %}>1131</option>
										<option value="1132" {% if address.zipNumCode == 1132%} selected="selected" {% endif %}>1132</option>
										<option value="1133" {% if address.zipNumCode == 1133%} selected="selected" {% endif %}>1133</option>
										<option value="1134" {% if address.zipNumCode == 1134%} selected="selected" {% endif %}>1134</option>
										<option value="1135" {% if address.zipNumCode == 1135%} selected="selected" {% endif %}>1135</option>
										<option value="1136" {% if address.zipNumCode == 1136%} selected="selected" {% endif %}>1136</option>
										<option value="1137" {% if address.zipNumCode == 1137%} selected="selected" {% endif %}>1137</option>
										<option value="1138" {% if address.zipNumCode == 1138%} selected="selected" {% endif %}>1138</option>
										<option value="1139" {% if address.zipNumCode == 1139%} selected="selected" {% endif %}>1139</option>
										<option value="1141" {% if address.zipNumCode == 1141%} selected="selected" {% endif %}>1141</option>
										<option value="1142" {% if address.zipNumCode == 1142%} selected="selected" {% endif %}>1142</option>
										<option value="1143" {% if address.zipNumCode == 1143%} selected="selected" {% endif %}>1143</option>
										<option value="1144" {% if address.zipNumCode == 1144%} selected="selected" {% endif %}>1144</option>
										<option value="1145" {% if address.zipNumCode == 1145%} selected="selected" {% endif %}>1145</option>
										<option value="1146" {% if address.zipNumCode == 1146%} selected="selected" {% endif %}>1146</option>
										<option value="1147" {% if address.zipNumCode == 1147%} selected="selected" {% endif %}>1147</option>
										<option value="1148" {% if address.zipNumCode == 1148%} selected="selected" {% endif %}>1148</option>
										<option value="1149" {% if address.zipNumCode == 1149%} selected="selected" {% endif %}>1149</option>
										<option value="1151" {% if address.zipNumCode == 1151%} selected="selected" {% endif %}>1151</option>
										<option value="1152" {% if address.zipNumCode == 1152%} selected="selected" {% endif %}>1152</option>
										<option value="1153" {% if address.zipNumCode == 1153%} selected="selected" {% endif %}>1153</option>
										<option value="1154" {% if address.zipNumCode == 1154%} selected="selected" {% endif %}>1154</option>
										<option value="1155" {% if address.zipNumCode == 1155%} selected="selected" {% endif %}>1155</option>
										<option value="1156" {% if address.zipNumCode == 1156%} selected="selected" {% endif %}>1156</option>
										<option value="1157" {% if address.zipNumCode == 1157%} selected="selected" {% endif %}>1157</option>
										<option value="1158" {% if address.zipNumCode == 1158%} selected="selected" {% endif %}>1158</option>
										<option value="1161" {% if address.zipNumCode == 1161%} selected="selected" {% endif %}>1161</option>
										<option value="1162" {% if address.zipNumCode == 1162%} selected="selected" {% endif %}>1162</option>
										<option value="1163" {% if address.zipNumCode == 1163%} selected="selected" {% endif %}>1163</option>
										<option value="1164" {% if address.zipNumCode == 1164%} selected="selected" {% endif %}>1164</option>
										<option value="1165" {% if address.zipNumCode == 1165%} selected="selected" {% endif %}>1165</option>
										<option value="1171" {% if address.zipNumCode == 1171%} selected="selected" {% endif %}>1171</option>
										<option value="1172" {% if address.zipNumCode == 1172%} selected="selected" {% endif %}>1172</option>
										<option value="1173" {% if address.zipNumCode == 1173%} selected="selected" {% endif %}>1173</option>
										<option value="1174" {% if address.zipNumCode == 1174%} selected="selected" {% endif %}>1174</option>
										<option value="1181" {% if address.zipNumCode == 1181%} selected="selected" {% endif %}>1181</option>
										<option value="1182" {% if address.zipNumCode == 1182%} selected="selected" {% endif %}>1182</option>
										<option value="1183" {% if address.zipNumCode == 1183%} selected="selected" {% endif %}>1183</option>
										<option value="1184" {% if address.zipNumCode == 1184%} selected="selected" {% endif %}>1184</option>
										<option value="1185" {% if address.zipNumCode == 1185%} selected="selected" {% endif %}>1185</option>
										<option value="1186" {% if address.zipNumCode == 1186%} selected="selected" {% endif %}>1186</option>
										<option value="1188" {% if address.zipNumCode == 1188%} selected="selected" {% endif %}>1188</option>
										<option value="1191" {% if address.zipNumCode == 1191%} selected="selected" {% endif %}>1191</option>
										<option value="1192" {% if address.zipNumCode == 1192%} selected="selected" {% endif %}>1192</option>
										<option value="1193" {% if address.zipNumCode == 1193%} selected="selected" {% endif %}>1193</option>
										<option value="1194" {% if address.zipNumCode == 1194%} selected="selected" {% endif %}>1194</option>
										<option value="1195" {% if address.zipNumCode == 1195%} selected="selected" {% endif %}>1195</option>
										<option value="1196" {% if address.zipNumCode == 1196%} selected="selected" {% endif %}>1196</option>
										<option value="1201" {% if address.zipNumCode == 1201%} selected="selected" {% endif %}>1201</option>
										<option value="1202" {% if address.zipNumCode == 1202%} selected="selected" {% endif %}>1202</option>
										<option value="1203" {% if address.zipNumCode == 1203%} selected="selected" {% endif %}>1203</option>
										<option value="1204" {% if address.zipNumCode == 1204%} selected="selected" {% endif %}>1204</option>
										<option value="1205" {% if address.zipNumCode == 1205%} selected="selected" {% endif %}>1205</option>
										<option value="1211" {% if address.zipNumCode == 1211%} selected="selected" {% endif %}>1211</option>
										<option value="1212" {% if address.zipNumCode == 1212%} selected="selected" {% endif %}>1212</option>
										<option value="1213" {% if address.zipNumCode == 1213%} selected="selected" {% endif %}>1213</option>
										<option value="1214" {% if address.zipNumCode == 1214%} selected="selected" {% endif %}>1214</option>
										<option value="1215" {% if address.zipNumCode == 1215%} selected="selected" {% endif %}>1215</option>
										<option value="1221" {% if address.zipNumCode == 1221%} selected="selected" {% endif %}>1221</option>
										<option value="1222" {% if address.zipNumCode == 1222%} selected="selected" {% endif %}>1222</option>
										<option value="1223" {% if address.zipNumCode == 1223%} selected="selected" {% endif %}>1223</option>
										<option value="1224" {% if address.zipNumCode == 1224%} selected="selected" {% endif %}>1224</option>
										<option value="1225" {% if address.zipNumCode == 1225%} selected="selected" {% endif %}>1225</option>
										<option value="1237" {% if address.zipNumCode == 1237%} selected="selected" {% endif %}>1237</option>
										<option value="1238" {% if address.zipNumCode == 1238%} selected="selected" {% endif %}>1238</option>
										<option value="1239" {% if address.zipNumCode == 1239%} selected="selected" {% endif %}>1239</option>
									</select></label>
									<label>Utca név<input type="text" name="street" value="{{address.street}}"/></label>
									<label>Házszám, emelet<input type="text" name="streetNumber" value="{{address.streetNumber}}"/></label>
								</form>
								<button onclick="modifyAddress('address_{{ address.key() }}');">Cím módosítása</button><br/><br/>
								<form id="address_{{address.key()}}_delete" action="/deleteAddress" method="post">
									<input type="hidden" name="addressKey" value="{{address.key()}}"/>
								</form>
								<button onclick="modifyAddress('address_{{ address.key() }}_delete');" style="color: RED; float: right; margin-top: -10px;">Cím törlése</button>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>