<div class="mainBg">
	<div class="container">
		<h3>{{ dishCategory.name }}</h3>
		<table>
		{% for dish in dishCategory.dishes %}
		<tr>
			<td><a href="/dish?dishKey={{ dish.key }}">{{ dish.title }}</a></td>
			<td><form action="{{delete_url}}" method="post">
				<input type="hidden" name="dishCategoryKey" value="{{ dishCategory.key }}"/>
				<input type="hidden" name="dishKey" value="{{ dish.key }}"/>
				<input type="submit" value="Töröl">
			</form></td>
		</tr>
		{% endfor %}
		</table>
	</div>
</div>
