<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>Diet Futár</title>
<!-- DietFutar CSS -->
</head>

<body style="background-image: url(../img/mainBg.jpg);">
	<a href="http://diet-futar.hu" style="background-image: url(../img/logo2.png); text-indent: -1000px; display: block; height: 120px; width: 325px; overflow: hidden; margin-top: 22px; margin-left: -15px; margin-bottom: -5px;">http://diet/futar.hu</a><br/>
	<div>
		<h2>Kedves {{ user.familyName }} {{ user.givenName }}!</h2>
		{{htmlMessage}}
		<p>Ha nem szeretne több tájékoztató levelet kapni újdonságainkról, akciós ajánlatainkról akkor kattintson <a href="http://www.diet-futar.hu/unsubscribe?userKey={{user.key()}}">erre a linkre!</a></p>
	</div>
</body>
</html>