<div>
	<div class="container">
		<div class="span-24">
			{%if toReplace %}{{toReplace}} -> {{replaceWith}} on {{monday}}{% endif%}<br/>
			{% for week in weeks %}
				Felhasználó {{week.user.familyName}} {{week.user.givenName}}<br/>
				{% for composit in week.orderedComposits%}
					{{composit}}<br/>
				{% endfor%}
			{% endfor%}
			<form method="post">
				<label for="monday">Melyik héten</label><input type="text" name="monday" id="monday" value="2013-02-11"/><br />
				<label for="toReplace">Mit</label><input type="text" name="toReplace" id="toReplace"/><br />
				<label for="toReplace">Mire</label><input type="text" name="replaceWith" id="replaceWith"/><br />
				<input type="submit"  value="Csere"/>
			</form>
		</div>
	</div>
</div>
