<div class="mainBg staticPage">
	<div class="container">
		<h3>Statisztikák</h3>
		<a href="/cachedUsers">Elmúlt 20 hét áttekintése</a> <br/>
		<a href="/weeklyFacebookVisitsOverview">Elmúlt 20 hét facebook látogatói</a> <br/>
		<h3>Irányítószámok</h3>
		<a href="/editZipCodes">Szállítási költségek</a> <br/>
		<h3>Felhasználók</h3>
		<a href="/userMap">Összes cím megjelenítése</a> <br/>
		<h3>Szállítási feltételek</h3>
		Szerintem az idő: {{currentTime}} elmúlt egész óra: {{ hour }}, határidő órája {{ deadline }}
		<form method="post" action="/changeDeliveryTime">
			<strong>Rendelés határideje</strong> <input type="text" id="orderDeadline" name="orderDeadline" value="{{orderDeadline}}"/>
			<strong>Szállítás kezdete</strong> <input type="text" id="deliveryStart" name="deliveryStart" value="{{deliveryStart}}"/>
			<strong>Szállítás vége</strong> <input type="text" id="deliveryEnd" name="deliveryEnd" value="{{deliveryEnd}}"/>
			<input type="submit" value="Mentés" />
		</form>
		
		<h3>Leállás</h3>
		Korábbi leállások
		<table>
			<tr>
				<th>Karbantartás kezdete</th>
				<th>Karbantartás vége</th>
				<th>Karbantartás igért vége</th>
				<th>Karbantartás oka</th>
				<th>Műveletek</th>
			</tr>
			{% for maintenence in maintenences %}
				<tr>
					<td> {{ maintenence.startDate }} </td>
					<td> {% if maintenence.endDate != None %}{{ maintenence.endDate }} {% endif %}</td>
					<td> {{ maintenence.displayedDate }} </td>
					<td> {{ maintenence.features }} </td>
					<td> {% if maintenence.active %}
					<form method="post" action="/endMaintenence">
						<input type="hidden" name="maintenenceKey" value="{{maintenence.key()}}" />
						<input type="submit" value="Karbantartás befejezése"/>
					</form>	
					{% endif %}</td>
				</tr>
			{% endfor %}
		</table>
		<form method="post" action="/scheduleMainenence">
			<label>Leállás vége <input type="text" id="displayedDate" name="displayedDate"/></label>
			<label>Leállás oka <input type="text" id="features" name="features"/></label>
			<input type="submit" value="Leállás megkezdése"/>
		</form>
	</div>
</div>