<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Diet Futár</title>
    
	<!-- Mobile Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="english" />
    <meta name="description" content="Oldal leírása..." />
    <meta name="keywords" content="Kulcsszavak listája vesszővel elválasztva..." />
    <meta name="copyright" content="Copyright leírása..." />
    <meta name="author" content="uzem.hu" />
    <meta name="publisher" content="uzem.hu" />
    <meta name="made" content="hoffergabor@gmail.com" />
    <meta name="reply-to" content="hoffergabor@gmail.com" />
    <meta name="page-type" content="Corporate Home Page" />
    <meta name="rating" content="all" />
    <meta name="robots" content="all" />
    <meta name="revisit-after" content="10 days" />

    <!-- Blueprint CSS -->
    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="../blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    
    <!-- Animate CSS -->	
    <link rel="stylesheet" href="css/animate/animate.css" type="text/css" media="screen, projection" />
    
    <!-- DietFutar CSS -->
    <link rel="stylesheet" href="css/dietfutar.css" type="text/css" media="screen, projection" />
    
	<link rel="shortcut icon" href="img/dietfutar.ico" />

</head>

<body>

	<!-- Main Container -->
<div class="mainBg staticPage">
<div class="container">
<div class="span-24 last header">
<a href="#" class="span-8 logo">logo</a>
<ul class="span-11 prepend-2 menu">
<li><h1>Rendelés</h1></li>
<li><h3>Telefonon: +36 (30) 22 85 106</h3></li>
<li><h3>E-mailen: info@diet-futar.hu</h3></li>
</ul>
</div>
</div>
</div>
<div class="mainBg staticPage">
	<div class="container">
		<h2>Az oldal karbantartás miatt nem elérhető.</h2>
		<p>Előreláthatóan a karbantartás előre látható vége {{ date }}. Ezt követően újra elérhető lesz az oldal. Elnézést kérünk az okozott kellemetlenségekért. Azon vagyunk hogy a jövőben ne legyen szükség ilyen leállításokra.<br/>
			{{ features }}<br/>
			Üdvözlettel: A Diet Futár fejlesztői csapata
		</p>
	</div>
</div>
</body>
</html>
