<div class="mainBg staticPage">
	<div class="container">
	<h2>Rendelés menete</h2>
	
	<p>Ha megtetszik valami a napi menüben, akkor a plusz gomb vagy a szövegdoboz segítségével add meg, mennyit rendelnél belőle. Miután összeválogattad, hogy mit ennél,
	használd az étlap alján jobb oldalt lévő "Kosárba" gombot. Ezzel még nem kötelezted el magad semmire. Lépj be, vagy ha még nem regisztráltál, regisztrálj!
	Ez után a jobbra fönt található "Kosár" gombra kattintva megnézheted, és módosíthatod a kiválasztott elemeket, vagy az étlapról adhatsz hozzá újakat.
	Ha végeztél, tekintsd át újból a kosarad tartalmát, és ha minden rendben, akkor kattints jobbra lent a "Megrendel" gombra.<br/>
	A rendelésedet a szállítást megelőző nap 14 óráig tudod módosítani. Ha törölni szeretnél egy elemet akkor az étlapon vond le a megrendelt mennyiséget
	a mínusz gombbal, és rendeld meg a negatív értéket. Ez ki fogja nullázni az adott tételhez tartozó rendelésed.</p>

	<h2>Szállítási feltételek</h2>
	
	<p>Az ételeket mindig frissen szállítjuk, ezért rendelést csak előző nap 14 óráig tudunk fogadni.</p>
	
	<p>A házhozsszállítás <strong style="color: #DD0000">ingyenes</strong> a <strong>IV., XIII., XIV és XV.</strong> kerületben.<br/>
		Az <strong>V., VI., VII, VIII., és XVI.</strong> kerületekben a házhozszállítás <strong style="color: #DD0000">300 Ft</strong>, vagy 3000 ft feletti rendelés esetén ingyenes.<br/>
		Az <strong>I., II., III., IX., X.</strong> kerületekben <strong style="color: #DD0000">500 Ft</strong>, vagy ingyenes 4000 ft feletti rendelés esetén<br/>
		Budapest többi kerületébe <strong style="color: #DD0000">1000 Ft</strong>, vagy ingyenes 5000 ft feletti rendelés esetén.</p>
	</div>
</div>