<div class="mainBg">
	<div class="container">
		{% if activationResult == 0%}
		<h3>Sikeres aktiváláció</h3>
		<p>
			Üdvözöljük oldalunkon! Válogasson egészséges <a href="/order">ajánlatunkból</a>. Első rendelése előtt kérjük tekintse át <a href="/profile">profilját</a>, ellenőrizze, hogy kitöltötte-e a név mezőt, és ne feledjen rendelés előtt felvinni profiljára legalább egy szállítási címet.
		</p>
		{% else %}
		{% if activationResult == 1 %}
		<h2>Ismeretlen felhasználó</h2>
		{% else %}
		<h2>Hibás aktivációs kód</h2>
		{% endif %}
		<a href="/registration">Regisztráció</a>
		{% endif %}
	</div>
</div>
