<div class="mainBg">
	<div class="container">

		{% if prev %}<a href="/deliveryReviewOrders?day={{ prev }}">Előző nap</a> {% endif %} <a href="/deliveryReviewOrders?day={{ actual }}">Ma</a> <a href="/deliveryReviewOrders?day={{ next }}">Következő nap</a>
		<br/>
		{{day}}
		<table border="1">
			<tr>
				<th>Folyamatban</th><th>Kerület</th><th>Irányítószám</th><th>Cím</th><th>Név</th><th>Futár</th><th></th>
			</tr>
			{% for order in orders%}
			<form method="post">
				<input type="hidden" name="odrerKey" value="{{order.key()}}"/>
				<tr>
					<td><input type="checkbox" name="delivered" {% if order.delivered %} checked="checked" {% endif %}/></td>
					<td>{{order.address.district}}</td>
					<td>{{order.address.zipCode}}</td>
					<td>{{order.address.street}} {{order.address.streetNumber}}</td>
					<td><a href="/deliverable?orderAddressKey={{order.key()}}">{{order.user.familyName}} {{order.user.givenName}}</a></td>
					<td><select name="deliverer">
						<option value="" label="-- Nincs kiválasztva"></option>
						{% for user in deliverers%}
							<option value="{{user.key()}}" label="{{user.familyName}} {{user.givenName}}" {% if order.deliverer!=None and user.key() == order.deliverer.key() %} selected="selected" {% endif %}></option>
						{% endfor %}
					</select></td>
					<td><input type="submit" value="Mentés"/></td>
				</tr>
			</form>
			{% endfor %}
		</table>
	</div>
</div>





















