{% if prev %}<a href="/deliveryReviewOrders?day={{ prev }}">Előző nap</a> {% endif %} <a href="/deliveryReviewOrders?day={{ actual }}">Ma</a> <a href="/deliveryReviewOrders?day={{ next }}">Következő nap</a>
<br/>
{{day}}
<table border="1">
	<tr>
		<th>Folyamatban</th><th>Kerület</th><th>Irányítószám</th><th>Cím</th><th>Név</th>
	</tr>
	{% for order in orders%}
		<tr>
			<td>{{order.delivered}}</td>
			<td>{{order.address.district}}</td>
			<td>{{order.address.zipCode}}</td>
			<td>{{order.address.street}} {{order.address.streetNumber}}</td>
			<td><a href="/deliverable?orderAddressKey={{order.key()}}">{{order.user.familyName}} {{order.user.givenName}}</a></td>
			<td>TODO futár lista</td>
		</tr>
	{% endfor %}
</table>






















