		<div class="footerBg">
			<div class="container">
				<div class="span-24 last footer">
					<ul class="span-23 last">
					<li><a href="#">Diet Futár</a></li>
					<li><a href="#">Lisztérzékenyeknek</a></li>
					<li><a href="#">Ebéd</a></li>
					<li><a href="#">Házhoz</a></li>
					<li><a href="mailto:dietfutar@dietfutar.hu">dietfutar@dietfutar.hu</a></li>
					<li><a href="http://facebook.com/dietfutar">facebook.com/dietfutar</a></li>
					</ul>
				</div>
			</div>
		</div>
			<div class="container">
				<div class="span-12">
						ide jön majd a cím és miegymás
				</div>
				<div class="span-12 last facebook">
					<fb:like-box href="https://www.facebook.com/DietFutar" width="470" height="260" show_faces="true" border_color="#d6c98c" stream="false" header="false"></fb:like-box>
				</div>
			</div>
	</body>
</html>