		<div class="footerBg">
			<div class="container">
				<div class="span-24 last footer">
					<ul class="span-23 last">
					<li><a href="#">Diet Futár</a></li>
					<li><a href="#">Lisztérzékenyeknek</a></li>
					<li><a href="#">Ebéd</a></li>
					<li><a href="#">Házhoz</a></li>
					<li><a href="mailto:dietfutar@dietfutar.hu">dietfutar@dietfutar.hu</a></li>
					<li><a href="http://facebook.com/dietfutar">facebook.com/dietfutar</a></li>
					</ul>
				</div>
			</div>
		</div>
			<div class="container">
				<div class="span-11 facebook">
					<fb:like-box href="https://www.facebook.com/DietFutar" width="430" height="220" show_faces="true" border_color="#cbbe81" stream="true" header="false"></fb:like-box>
				</div>
				<div class="span-12 prepend-1 last">
						ide jön majd a cím és miegymás
				</div>
			</div>
	</body>
</html>