<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Diet Futár</title>
	<!-- Mobile Viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="english" />
	<meta name="description" content="Oldal leírása..." />
	<meta name="keywords" content="Kulcsszavak listája vesszővel elválasztva..." />
	<meta name="copyright" content="Copyright leírása..." />
	<meta name="author" content="uzem.hu" />
	<meta name="publisher" content="uzem.hu" />
	<meta name="made" content="hoffergabor@gmail.com" />
	<meta name="reply-to" content="hoffergabor@gmail.com" />
	<meta name="page-type" content="Corporate Home Page" />
	<meta name="rating" content="all" />
	<meta name="robots" content="all" />
	<meta name="revisit-after" content="10 days" />

	<!-- Blueprint CSS -->
	<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" />
	<!--[if lt IE 8]><link rel="stylesheet" href="../blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<!-- Animate CSS -->
	<link rel="stylesheet" href="css/animate/animate.css" type="text/css" media="screen, projection" />
	<!-- DietFutar CSS -->
	<link rel="stylesheet" href="css/dietfutar.css" type="text/css" media="screen, projection" />
	<link rel="shortcut icon" href="img/dietfutar.ico" />
	
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35291486-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>