<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Diet Futár</title>
    
	<!-- Mobile Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="english" />
    <meta name="description" content="Oldal leírása..." />
    <meta name="keywords" content="Kulcsszavak listája vesszővel elválasztva..." />
    <meta name="copyright" content="Copyright leírása..." />
    <meta name="author" content="uzem.hu" />
    <meta name="publisher" content="uzem.hu" />
    <meta name="made" content="hoffergabor@gmail.com" />
    <meta name="reply-to" content="hoffergabor@gmail.com" />
    <meta name="page-type" content="Corporate Home Page" />
    <meta name="rating" content="all" />
    <meta name="robots" content="all" />
    <meta name="revisit-after" content="10 days" />

    <!-- Blueprint CSS -->
    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="../blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    
    <!-- Animate CSS -->	
    <link rel="stylesheet" href="css/animate/animate.css" type="text/css" media="screen, projection" />
    
    <!-- DietFutar CSS -->
    <link rel="stylesheet" href="css/dietfutar.css" type="text/css" media="screen, projection" />
    
	<link rel="shortcut icon" href="img/dietfutar.ico" />

</head>

<body>

	<!-- Main Container -->
    <div class="cartBg">
    <div class="container">
            
        <div class="span-24 last header">
            <a href="#" class="span-8 logo">logo
            </a>
            <ul class="span-11 prepend-2 menu">
            	<li><h1>Renelés</h1></li>
            	<li><h2>Telefonon: +36 (30) 22 85 106</h2></li>
            	<li><h2>E-mailen: info@diet-futar.hu</h2></li>
            </ul>
            <a class="span-2 prepend-1 last cart">kosár</a>
        </div>
        
    </div>
    </div>
    
    <div class="mainBg">
    <div class="container">
        
        <div class="span-24 last calendar">        
            <div class="span-24 last calendarHeader">
				<div class="span-2">--</div>
            	<div class="span-4"><h3>Hétfő</h3>2012.10.01.</div>
            	<div class="span-4"><h3>Kedd</h3>2012.10.02.</div>
            	<div class="span-4"><h3>Szerda</h3>2012.10.03.</div>
            	<div class="span-4"><h3>Csütörtök</h3>2012.10.04.</div>
            	<div class="span-4"><h3>Péntek</h3>2012.10.05.</div>
            	<div class="span-2 last nextWeek">--</div>
            </div>
            
			<div class="span-24 last calendarRow">
            	<h2 class="span-2">Menü</h2>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Zöldségleves</h3>
                    	<h3>Sült csirkecomb, petrezselymes burgonya</h3>
                    	<h3>Uborkasaláta</h3>
                        <strong>830 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Paradicsomleves</h3>
                    	<h3>Burgonyás-zöldséges sertésszelet</h3>
                        <strong>830 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Sertésragu leves</h3>
                    	<h3>Sajtostészta</h3>
                        <strong>830 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Almaleves</h3>
                    	<h3>Csirkemáj rizottó</h3>
                        <strong>830 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Reszelttészta leves</h3>
                    	<h3>Zöldbabfőzelék, vagdalt</h3>
                        <strong>830 Ft</strong>
                    </div>
                </div>
            </div>
			
            <div class="span-24 last calendarRow">
            	<h2 class="span-2">Levesek</h2>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Zöldségleves</h3>
                        <strong>355 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Paradicsomleves</h3>
                        <strong>355 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Burgonyaleves</h3>
                        <strong>355 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Almaleves</h3>
                        <strong>355 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Reszelttészta leves</h3>
                        <strong>355 Ft</strong>
                    </div>
                </div>
            </div>
			
			
            <div class="span-24 last calendarRow">
            	<h2 class="span-2">Húsos levesek</h2>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Frankfurti leves</h3>
                        <strong>485 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Falusi bableves</h3>
                        <strong>485 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Sertésragu leves</h3>
                        <strong>485 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Szárnyasaprólék leves</h3>
                        <strong>485 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Marhahúsleves</h3>
                        <strong>485 Ft</strong>
                    </div>
                </div>
            </div>

            <div class="span-24 last calendarRow">
            	<h2 class="span-2">Főzelékek</h2>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Paradicsomos káposzta, roston csirkemell csíkok</h3>
                        <strong>650 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Lencsefőzelék, sültkolbász</h3>
                        <strong>650 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Burgonyafőzelék, fasírt</h3>
                        <strong>650 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Tökfőzelék, sertéspörkölt</h3>
                        <strong>650 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Zöldbabfőzelék, Vagdalt</h3>
                        <strong>650 Ft</strong>
                    </div>
                </div>
            </div>

            <div class="span-24 last calendarRow">
            	<h2 class="span-2">Tészták</h2>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Tejszínes csirkemellcsíkok, spagetti, reszeltsajt</h3>
                        <strong>695 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Tojásos nokedli</h3>
                        <strong>695 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Sajtos tészta</h3>
                        <strong>695 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Káposztás cvekedli</h3>
                        <strong>695 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Túrostészta szalonnapörccel</h3>
                        <strong>695 Ft</strong>
                    </div>
                </div>
            </div>

            
            <div class="span-24 last calendarRow">
            	<h2 class="span-2">Főétel I.</h2>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Sült csirkecomb Petrezselymes burgonya</h3>
                        <strong>750 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Burgonyás-zöldséges sertésszelet</h3>
                        <strong>750 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Rántottsajt, zöldségesrízs</h3>
                        <strong>750 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Rántott sertésborda, petrezselymes burgonya</h3>
                        <strong>750 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Sültoldalas, hagymás törtkrumpli</h3>
                        <strong>750 Ft</strong>
                    </div>
                </div>
            </div>

            <div class="span-24 last calendarRow">
            	<h2 class="span-2">Főétel II.</h2>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Csülkös sertéspörkölt, pároltrízs</h3>
                        <strong>720 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
						<div class="calendarElement">
							<h3>Chili con carne</h3>
							<strong>720 Ft</strong>
						</div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Brassói aprópecsenye</h3>
                        <strong>720 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Csirkemáj rizottó</h3>
                        <strong>720 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Paprikáskrumpli gazdagon</h3>
                        <strong>720 Ft</strong>
                    </div>
                </div>
            </div>

            <div class="span-24 last calendarRow">
            	<h2 class="span-2">Desszertek</h2>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Meggyesrétes</h3>
                        <strong>290 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Mákosguba, vaníliaöntet</h3>
                        <strong>410 Ft</strong>
                    </div>
				</div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Aranygaluska</h3>
                        <strong>410 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Túróspalacsinta</h3>
                        <strong>350 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Szilvásgombóc</h3>
                        <strong>390 Ft</strong>
                    </div>
                </div>
            </div>

            <div class="span-24 last calendarRow">
            	<h2 class="span-2">Saláták</h2>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Uborkasaláta</h3>
                        <strong>140 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Fejessaláta</h3>
                        <strong>140 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Cékla</h3>
                        <strong>140 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Paradicsomsaláta</h3>
                        <strong>140 Ft</strong>
                    </div>
                </div>
            	<div class="span-4 calendarColumn">
                	<div class="calendarElement">
                    	<h3>Kovászosuborka</h3>
                        <strong>140 Ft</strong>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </div>
    
    <div class="footerBg">
    <div class="container">
        
        <div class="span-24 last footer">
        	<ul class="span-23 last">
            	<li><a href="#">Diet Futár</a></li>
            	<li><a href="#">Lisztérzékenyeknek</a></li>
            	<li><a href="#">Ebéd</a></li>
            	<li><a href="#">Házhoz</a></li>
            	<li><a href="#">dietfutar@dietfutar.hu</a></li>
            	<li><a href="#">facebook.com/dietfutar</a></li>
            </ul>
        </div>
    
    </div>
    </div>

</body>
</html>
