{% from '/templates/macros.html' import menuItemToOrderMacro, compositToOrderMacro%}
<form method="post">
<div class="ordering-menu">
	<div class="container">
		<div class="span-24 last calendar">
			<div class="span-24 last calendarHeader">
				{% if prev %}<a href="/order?day={{ prev }}" class="span-2 lastWeek">Előző hét</a> {% else %}<div class="span-2">--</div>{% endif %}
				{% for day in days %}
					<div class="span-4"><h3>{{ day.day }}</h3>{{ day.date }}</div>
				{% endfor%}
				{% if next %}<a href="/order?day={{ next }}" class="span-2 last nextWeek">Következő hét</a>{% else %}<div class="span-2 last nextWeek">--</div>{% endif %}
				</div>
			
			{% for category in menu%}
				<div class="span-24 last calendarRow">
					<h2 class="span-2">{{ category.category.name }}</h2>
					{% for day in category.days %}
						<div class="span-4 calendarColumn">
							{% if day.menuItems|length ==0 %}
								&nbsp;
							{% endif %}
							{% for menuItem in day.menuItems %}
								{{ menuItemToOrderMacro (menuItem) }}
							{% endfor %}
							{% for composit in day.composits %}
								{{ compositToOrderMacro(composit) }}
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
			<div class="span-24 last subTotal">
				<h2 class="span-2">Összesen</h2>
				{% for day in days %}
					<div class="span-4">
						Eddigi rendelés {{ day.orderedPrice }} Ft<br/>
						Kosárban {{ day.basketPrice }} Ft<br/>
						<strong>Összesen {{ day.totalPrice }} Ft</strong>
					</div>
				{% endfor%}
			</div>
			<div class="span-24 last total">
				<input type="submit" id="toCartButton" value="Kosárba" />
				<h2><small><input type="hidden" name="formDay" value="{{ days[0].date }}"/></small></h2>
			</div>
		</div>
	</div>
</div>
</form>