<a href="/menuEdit?day={{ prev }}">Előző hét</a> <a href="/menuEdit?day={{ actual }}">Aktuális hét</a> <a href="/menuEdit?day={{ next }}">Következő hét</a>
<table border="1">
	<tr>
		<th> </th>
		{% for day in days %}
			<th>{{ day.day }}<br/>{{ day.date }}</th>
		{% endfor%}
	</tr>
	{% for category in menu%}
		<tr><td> {{ category.category.name }} </td>
		{% for day in category.days %}
			<td valign="bottom">
			<div style="width:100%; text-align:right">
			{% for menuItem in day.menuItems %}
				{{menuItem.dish.title}}
				<!-- References of components -->
				{% if menuItem.dish.price == None%}0{% else %}{{ menuItem.dish.price }}{% endif %} Ft
				<br/>
				{% for component in menuItem.components %}
					{{ component.dish.title }}
					{% if component.dish.price == None%}0{% else %}{{ component.dish.price }}{% endif %} Ft
					<form action="/deleteMenuItem" method="post">
						<input type="hidden" name="menuItemKey" value="{{ component.key() }}"/>
						<input type="submit" value="Törlés"/>
					</form>
				{% endfor %}
				<form action="/addMenuItemComponent" method="post">
					<input type="hidden" name="menuItemKey" value="{{ menuItem.key() }}"/>
					<select name="componentDishKey">
						{% for dish in allDishes %}
							<option value="{{dish.key() }}">{{ dish.title }}</option>
						{% endfor %}
					</select>
					<input type="submit" value="Csatol"/>
				</form>
				Összesen {% if menuItem.sumprice == None%}0{% else %}{{ menuItem.sumprice }}{% endif %} Ft <br/>
				<form action="/modifyMenuItem" method="post">
					<input style="text-align: right" type="text" name="price" value="{% if menuItem.price == None%}0{% else %}{{ menuItem.price }}{% endif %}"/> Ft<br/>
					<input type="hidden" name="menuItemKey" value="{{ menuItem.key() }}"/>
					<input type="submit" value="Áraz"/>
				</form>
				<form action="/deleteMenuItem" method="post">
					<input type="hidden" name="menuItemKey" value="{{ menuItem.key() }}"/>
					<input type="submit" value="Törlés"/>
				</form>
			{% endfor %}
			</div>
			<form method="post">
				<input type="hidden" name="formDay" value="{{ day.date }}"/>
				<select name="dishKey">
					{% for dish in category.availableDishes %}
						<option value="{{dish.key() }}">{{ dish.title }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="Hozzáadás"/>
			</form>
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>


			<!--
			{% for dishCategory in availableDishes %}
			{{ dishCategory.category.name }}
				<form method="post">
					<input type="hidden" name="formDay" value="{{ day.date }}"/>
					<select name="dishKey">
						{% for dish in dishCategory.dishes %}
						<option value="{{dish.key() }}">{{ dish.title }}</option>
						{% endfor %}
					</select>
					<input type="submit" value="Hozzáadás"/>
				</form>
			{% endfor %}
			-->
