<form method="post">
<div class="mainBg">
	<div class="container">
		<div class="span-24 last calendar">
			<div class="span-24 last calendarHeader">
				{% if prev %}<a href="/order?day={{ prev }}" class="span-2 lastWeek">Előző hét</a> {% else %}<div class="span-2">--</div>{% endif %}
				{% for day in days %}
					<div class="span-4"><h3>{{ day.day }}</h3>{{ day.date }}</div>
				{% endfor%}
				{% if next %}<a href="/order?day={{ next }}" class="span-2 last nextWeek">Következő hét</a>{% else %}<div class="span-2 last nextWeek">--</div>{% endif %}
				</div>
			</div>
			
			{% for category in menu%}
				<div class="span-24 last calendarRow">
					<h2 class="span-2">{{ category.category.name }}</h2>
					{% for day in category.days %}
						<div class="span-4 calendarColumn">
							{% if day.menuItems|length ==0 %}
								&nbsp;
							{% endif %}
							{% for menuItem in day.menuItems %}
								<div class="calendarElement {% if (not menuItem.orderable ) and menuItem.orderedQuantity == 0 %}  inactive {% endif%}">
									<h3>{{ menuItem.dish.title }}</h3>
									<p>{% for component in menuItem.components %}
										{{ component.dish.title }} 
									{% endfor %}</p>
									<strong>{% if menuItem.price == None%}0{% else %}{{ menuItem.price }}{% endif %} Ft</strong>
									{% if menuItem.orderable %}
										{% if menuItem.inCurrentOrder %}
											<input type="text" name="MIC{{ menuItem.key }}" value="{{ menuItem.inCurrentOrder}}"/>
										{% else %}
											<input type="text" name="MIC{{ menuItem.key }}" value="0"/>
										{% endif %}
									{% endif %}
									{% if menuItem.orderedQuantity > 0 %}
										<small>{{ menuItem.orderedQuantity}} {% if menuItem.orderable %}+{% else %}adag{% endif %} </small>
									{% endif %}
								</div>
							{% endfor %}
							{% for composit in day.composits %}
								<div class="calendarElement {% if (not composit.orderable ) and composit.orderedQuantity == 0 %}  inactive {% endif%}">
									{% for component in composit.components%}
										<h3>{{component.dish.title}}</h3>
										<p>{% for subItem in component.components%} {{subItem.dish.title}}{% endfor %}</p>
									{% endfor %}
									<strong>{% if composit.price == None%}0{% else %}{{ composit.price }}{% endif %} Ft</strong>
									{% if composit.orderable %}
										{% if composit.inCurrentOrder %}
											<input type="text" name="MIC{{ composit.key }}" value="{{ composit.inCurrentOrder}}"/>
										{% else %}
											<input type="text" name="MIC{{ composit.key }}" value="0"/>
										{% endif %}
									{% endif %}
									<small>{{ composit.orderedQuantity}} {% if composit.orderable %}+{% else %}adag{% endif %}</small> 
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
			<div class="span-24 last subTotal">
				<h2 class="span-2">Összesen</h2>
				{% for day in days %}
					<div class="span-4">
						Eddigi rendelés {{ day.orderedPrice }} Ft<br/>
						Kosárban {{ day.basketPrice }} Ft<br/>
						<strong>Összesen {{ day.totalPrice }} Ft</strong>
					</div>
				{% endfor%}
			</div>
	</div>
</div>
<div class="mainBg">
	<div class="container">

	<input type="hidden" name="formDay" value="{{ days[0].date }}"/>
	<input type="submit" value="Kosárba" />

	</div>
</div>
</form>