<div class="mainBg">
	<div class="container">
		<div class="span-24 last calendar">
			<div class="span-24 last calendarHeader">
				{% if prev %}<a href="/menuEdit?day={{ prev }}" class="span-2 lastWeek">Előző hét</a> {% else %}<div class="span-2">--</div>{% endif %}
				{% for day in days %}
					<div class="span-4"><h3>{{ day.day }}</h3>{{ day.date }}</div>
				{% endfor%}
				<a href="/menuEdit?day={{ next }}" class="span-2 last nextWeek">Következő hét</a>
				</div>
			</div>
			
			{% for category in menu%}
				<div class="span-24 last calendarRow">
					<h2 class="span-2">{{ category.category.name }}</h2>
					{% for day in category.days %}
						<div class="span-4 calendarColumn">
							{% if category.category.isMenu %}
								{% for composit in day.composits%}
									<div class="calendarElement">
										{% for component in composit.components%}
											<h3>{{component.menuItem.dish.title}}</h3>{% for subItem in component.menuItem.components%}, {{subItem.dish.title}}{% endfor %} {{component.menuItem.sumprice}} Ft<br/>
											{% if composit.alterable %}
												<form action="/deleteItemFromComposit" method="post">
													<input type="hidden" name="componentKey" value="{{ component.key() }}"/>
													<input type="hidden" name="formDay" value="{{ day.date }}"/>
													<input type="submit" value="Törlés"/>
												</form>
											{% endif %}
										{% endfor %}
										{% if composit.alterable %}
											<form action="/addItemToComposit" method="post">
												<input type="hidden" name="compositKey" value="{{composit.key()}}" id="compositKey"/>
												<input type="hidden" name="formDay" value="{{ day.date }}"/>
												<select name="menuItem" id="menuItem" class="menuEditSelect">
													{% for menuItem in day.availableMenuItems %}
														<option label="{{menuItem.dish.title}}{% for subItem in menuItem.components%},{{subItem.dish.title}}{% endfor %}" value="{{menuItem.key()}}"></option>
													{% endfor %}
												</select><br/>
												<input type="submit" name="submit" value="Csatol" id="submit"/>
											</form>
										{% endif %}
										{% if composit.alterable %}
											<form action="/modifyComposit" method="post">
												<input type="hidden" name="compositKey" value="{{ composit.key() }}"/>
												<input type="hidden" name="formDay" value="{{ day.date }}"/>
												<input style="text-align: right" type="text" name="price" value="{% if composit.price == None%}0{% else %}{{ composit.price }}{% endif %}"/> Ft<br/>
												<input type="submit" value="Áraz"/>
											</form>
										{% else %}
											<strong>{% if composit.price == None%}0{% else %}{{ composit.price }}{% endif %} Ft</strong>
										{% endif %}
										<form action="/deleteComposit" method="post">
											<input type="hidden" name="compositKey" value="{{ composit.key() }}"/>
											<input type="hidden" name="formDay" value="{{ day.date }}"/>
											<input type="submit" value="Törlés"/>
										</form>
									</div>
								{% endfor %}
								<div class="calendarElement">
									<form method="post" action="/createComposit">
										<input type="hidden" name="dishCategoryKey" value="{{category.category.key()}}" />
										<input type="hidden" name="formDay" value="{{ day.date }}"/>
										<input type="submit" value="Menü létrehozása"/>
									</form>
								</div>
							{% else %}
								{% for menuItem in day.menuItems %}
									<div class="calendarElement">
										<h3>{{menuItem.dish.title}}</h3>
										<!-- References of components -->
										{% if menuItem.dish.price == None%}0{% else %}{{ menuItem.dish.price }}{% endif %} Ft
										<br/>
										{% for component in menuItem.components %}
											{{ component.dish.title }}
											{% if component.dish.price == None%}0{% else %}{{ component.dish.price }}{% endif %} Ft
											{% if menuItem.alterable %}
												<form action="/deleteMenuItem" method="post">
													<input type="hidden" name="menuItemKey" value="{{ component.key() }}"/>
													<input type="hidden" name="formDay" value="{{ day.date }}"/>
													<input type="submit" value="Törlés"/>
												</form>
											{% endif %}
										{% endfor %}
										{% if menuItem.alterable %}
											<form action="/addMenuItemComponent" method="post">
												<input type="hidden" name="menuItemKey" value="{{ menuItem.key() }}"/>
												<input type="hidden" name="formDay" value="{{ day.date }}"/>
												<select name="componentDishKey" class="menuEditSelect">
													{% for dish in allDishes %}
														<option value="{{dish.key() }}">{{ dish.title }}</option>
													{% endfor %}
												</select>
												<input type="submit" value="Csatol"/>
											</form>
										{% endif %}
										Összesen {% if menuItem.sumprice == None%}0{% else %}{{ menuItem.sumprice }}{% endif %} Ft <br/>
										{% if menuItem.alterable %}
										<form action="/modifyMenuItem" method="post">
											<input type="hidden" name="menuItemKey" value="{{ menuItem.key() }}"/>
											<input type="hidden" name="formDay" value="{{ day.date }}"/>
											<input style="text-align: right" type="text" name="price" value="{% if menuItem.price == None%}0{% else %}{{ menuItem.price }}{% endif %}"/> Ft<br/>
											<input type="submit" value="Áraz"/>
										</form>
										{% else %}
											<strong>{% if menuItem.price == None%}0{% else %}{{ menuItem.price }}{% endif %} Ft</strong>
										{% endif %}
										<form action="/deleteMenuItem" method="post">
											<input type="hidden" name="menuItemKey" value="{{ menuItem.key() }}"/>
											<input type="hidden" name="formDay" value="{{ day.date }}"/>
											<input type="submit" value="Törlés"/>
										</form>
									</div>
								{% endfor %}
							
								<div class="calendarElement">
									<form method="post">
										<input type="hidden" name="formDay" value="{{ day.date }}"/>
										<select name="dishKey">
											{% for dish in category.availableDishes %}
												<option value="{{dish.key() }}">{{ dish.title }}</option>
											{% endfor %}
										</select>
										<input type="submit" value="Hozzáadás"/>
									</form>
								</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
	</div>
</div>