{% from '/templates/macros.html' import menuItemToOrderMacro, compositToOrderMacro%}
{% if user == None %}
<div class="mainBg">
	<div class="container">
		<div class="span-24" align="center">
			<h2>Rendelése elküldéséhez be kell jelentkeznie. Ha még nem felhasználónk, kérjük regisztráljon!</h2>
		</div>
	</div>
</div>
{% else %}
<div class="mainBg">
	<div class="container">
		<div class="span-24 last calendar">
			<div class="span-24 last calendarHeader">
				{% if prev %}<a href="/pendingOrder?day={{ prev }}" class="span-2 lastWeek">Előző hét</a> {% else %}<div class="span-2">--</div>{% endif %}
				{% for day in days %}
					<div class="span-4"><h3>{{ day.day }}</h3>{{ day.date }}</div>
				{% endfor%}
				{% if next %}<a href="/pendingOrder?day={{ next }}" class="span-2 last nextWeek">Következő hét</a> {% else %}<div class="span-2 last nextWeek">--</div>{% endif %}
			</div>

			<form method="post" id="menu">
			{% for category in menu%}
				<div class="span-24 last calendarRow">
					<h2 class="span-2">{{ category.category.name }}</h2>
					{% for day in category.days %}
						<div class="span-4 calendarColumn">
							{% if day.menuItems|length ==0 %}
								&nbsp;
							{% endif %}
							{% for menuItem in day.menuItems %}
								{{ menuItemToOrderMacro (menuItem) }}
							{% endfor %}
							{% for composit in day.composits %}
								{{ compositToOrderMacro(composit) }}
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
			</form>
			<div class="span-24 last subTotal" style="height:30px">
				<h2 class="span-2">Összesen</h2>
				{% for day in days %}
					<div class="span-4">
						<strong>{{ day.total }} Ft</strong>
					</div>
				{% endfor%}
			</div>
			<div class="span-24 last total">
					{% if user != None %}
						<form action="/confirmOrder" method="post">
							<input class="span-6" style="margin: 0px;" id="basketOrderButton" type="submit" value="Megrendel"/>
						</form>
					<button class="span-4" style="margin: 0px;" id="saveBasketButton" onclick="document.forms['menu'].submit();">Ment</button>
					{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}