{% if prev %}<a href="/pendingOrder?day={{ prev }}">Előző hét</a> {% endif %} <a href="/pendingOrder?day={{ actual }}">Adktuális hét</a> <a href="/pendingOrder?day={{ next }}">Következő hét</a>
<form action="/confirmOrder" method="get">
	<input type="submit" value="Megrendel"/>
</form>
<form method="post">
<input type="hidden" name="formDay" value="{{ days[0].date }}"/>
<input type="submit" value="Ment" />
<table border="1">
	<tr>
		<th> </th>
		{% for day in days %}
			<th>{{ day.day }}<br/>{{ day.date }}</th>
		{% endfor%}
	</tr>
	{% for category in menu%}
		<tr><td> {{ category.category.name }} </td>
		{% for day in category.days %}
			<td valign="bottom">
			<div>
			{% for menuItem in day.menuItems %}
				<input style="width: 20px" type="text" name="MIC{{ menuItem.key() }}" value="{{ menuItem.inCurrentOrder}}"/>
				{{ menuItem.dish.title }}
				{% for component in menuItem.components %}
					,{{ component.dish.title }}
				{% endfor %}
				{{ menuItem.basketprice }} Ft
				<br/>
			{% endfor %}
			{% for composit in day.composits %}
				<input style="width: 20px" type="text" name="MIC{{ composit.key() }}" value="{{ composit.inCurrentOrder}}"/>
				{% for component in composit.components%}
					{{component.menuItem.dish.title}}{% for subItem in component.menuItem.components%}, {{subItem.dish.title}}{% endfor %}
				{% endfor %}
				{{ composit.basketprice }} Ft
				<br/>
			{% endfor %}
			</div>
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
	<tr>
		<td>Összesen</td>
		{% for day in days %}
			<td style="text-align: right">{{ day.total }} Ft</td>
		{% endfor%}
	</tr>
</table>
<input type="submit" value="Ment" />
</form>






















