<div class="mainBg">
	<div class="container" align="center">	
		{% for i in pages%}
			{% if i==page%}
			<span style="font-size: 20px">{{i}}</span>
			{% else %}
			<a href="?page={{i}}&order={{order}}" style="font-size: 20px">{{i}}</a>
			{% endif %}
		{% endfor %}
	</div>
</div>

<div class="mainBg">
	<div class="container" align="center">	
		
		<table>
		<tr>
			<th><a href="?order=registrationDate" style="font-size: 20px">Regisztráció</a></th>
			<th><a href="?order=familyName" style="font-size: 20px">Név</a></th>
			<th><a href="?order=email" style="font-size: 20px">E-mail cím</a></th>
			<th style="font-size: 20px">Aktivált</th>
		{% for user in userList%}
		<tr>
		<td><h3>{{ user.registrationDate}}</h3></td>
		<td><h3>{{ user.familyName }} {{user.givenName}}</h3></td>
		<td><h3>{{ user.email }}</h3></td>
		<td><h3>{{ user.activated }}</h3></td>
		</tr>
		{% endfor %}
		</table>
	</div>
</div>
