{% from '/templates/macros.html' import menuItemToOrderMacro, compositToOrderMacro%}
<div class="review-ordered {% if user %}{% else %}staticPage{% endif %}">
	<div class="container">
		<script  type="text/javascript">
			function addressChangeListener(orderedPrice) {
				var addressCosts = [{% for address in addresses %}{{ address.deliveryCost }},{% endfor %}];
				var addressLimits = [{% for address in addresses %}{{ address.deliveryLimit }},{% endfor %}];
				var selectedIndex = document.getElementById('address').selectedIndex;
				var deliveryCost = addressCosts[selectedIndex];
				if (orderedPrice > addressLimits[selectedIndex]){
					deliveryCost = 0;
				}
				document.getElementById('deliveryCost').innerHTML = deliveryCost;
			}
		
		</script>
		<div class="span-24">
			<div class="span-24">
				<h2 style="text-align: left;">Karácsonyi ebéd</h2>
				<p>Karácsonykor sem feledkezünk meg lisztérzékeny vendégeinkről. 2012. December 24.-én délben ünnepi menüt szállítunk azoknak, akik a megelőző péntekig feladták megrendelésüket. A különleges alkalomból szállítás Budapest területén ingyenes. Két menüből választhattok:
					mindkettő nagy adag halászlével indul, amit mi készítünk, hagyományos recept alapján, harcsafilével a szálkára érzékenyebbek kedvéért. A leves után választhattok a töltött káposzta és a túróscsuszán tálalt harcsapaprikás közt. Folytásként mindkét menü bejglivel zárul, mákos, diós egyéni izlés szerint (kommentben írjátok meg, hogy melyik szimpatikusabb).</p>
				<div class="span-11">
				<strong>A menü</strong><br/>
				Halászlé harcsafilével<br/>
				Töltöttkáposzta<br/>
				Bejgli<br/>
				<strong>2300 Ft</strong><br/>
				{% if user %}
					<form method="post">
						<div>
							<img style="height: 19px; width:14px; vertical-align: middle;" src="img/minus.png" onclick="decrementQuantityNotNegative('aMenu')"/>
							<input class="orderQuantity" onkeyup="validateQuantityNotNegative('aMenu')" type="text" id="aMenu" name="aMenu" value={% if inCurrentOrder %}"{{ inCurrentOrder}}"{% else %}"0"{% endif %}/>
							<img style="height: 17px; width:17px; vertical-align: middle;" src="img/plus.png" onclick="incrementQuantity('aMenu')"/>
							<br/>
						</div>
					</div>
				{% endif %}
				<div class="span-11">
				<strong>B menü</strong><br/>
				Halászlé harcsafilével<br/>
				Harcsapaprikás túróscsuszával<br/>
				Bejgli<br/>
				<strong>2600 Ft</strong><br/>
				{% if user %}
					<div>
						<img style="height: 19px; width:14px; vertical-align: middle;" src="img/minus.png" onclick="decrementQuantityNotNegative('bMenu')"/>
						<input class="orderQuantity" onkeyup="validateQuantityNotNegative('bMenu')" type="text" id="bMenu" name="bMenu" value={% if inCurrentOrder %}"{{ inCurrentOrder}}"{% else %}"0"{% endif %}/>
						<img style="height: 17px; width:17px; vertical-align: middle;" src="img/plus.png" onclick="incrementQuantity('bMenu')"/>
						<br/>
					</div>
				</div>

					<div class="span-24 last subTotal">
						<h2 class="span-2">Szállítási cím</h2>
						<div class="span-4">
							<select name="address" id="address" {% if changable == False %}disabled="disabled" {% endif%} style="width: 120px">
								{% for itemAddress in user.addresses %}
									<option value="{{itemAddress.key()}}" label="{{itemAddress.street}} {{itemAddress.streetNumber}}" {% if address and address != None and address.key() == itemAddress.key() %}selected="selected"{% endif %}></option>
								{% endfor %}
							</select><br/>
						</div>
						<strong>Megjegyzés: </strong><input style="width: 300px;" type="text" name="message" id="message"/>
					</div>
					<div class="span-24 total last">
						<input id="toCartButton" type="submit" name="" value="Megrendelés" id=""/>
					</div>
				</form>
				{% else %}
				</div>
				<strong>Rendeléshez jelentkezzen be!</strong>
				{% endif %}
		</div>
	</div>
</div>